.empty-data-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    height: 50vh;
}

.empty-data-placeholder h5{
    padding-top:20px;
}