*.egg
*.egg-info/
*.log*
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
*.sqlite3
.DS_Store
.Python
.cache
.coverage
.env
.env.development.local
.env.production.local
.env.test.local
.idea/
.installed.cfg
.metadata
.pnp.js
.project
.pydevproject
.settings
.tox/
.vscode
/.pnp
/build
/buildmaster
/coverage
/node_modules
/src/config
Python-3.5.3/
__pycache__/
build/
coverage.xml
develop-eggs/
dist/
docker/data/postgres/
docker/data/redis/
docs/_build/
downloads/
eggs/
env/
htmlcov/
lib/
lib64/
main-*.js*
media/
node_modules/
nosetests.xml
npm-debug.log*
parts/
pip-delete-this-directory.txt
pip-log.txt
qr_files/
requirements/eze.txt
sdist/
set-env.sh
target/
test_employees.xlsx
var/
venv
webpack-stats.json
yarn-error.log*

# Cypress related files
cypress/videos
cypress/screenshots
cypress.env.json
.nyc_output
reports