.extra_buttons {
    top: 6px;
    right: 6px;
    display: flex;
    position: absolute;
    z-index: 999;
}

.footer_buttons {
    display: flex;
    margin: 10px 0px;
    justify-content: center;
}

.final_data_previewer_wrapper {
    top: 57px;
    right: 0;
    width: 0%;
    bottom: 1px;
    z-index: 1000;
    position: fixed;
    overflow: hidden;
    background: transparent;
    transition: all 1s ease;
}

.final_data_previewer {
    float: right;
    width: 400px;
    height: 100%;
    display: flex;
    padding: 6px;
    margin-top: 0px;
    position: relative;
    flex-direction: column;
    background: #f6f6f6;
    box-shadow: 0px 6px 14px 0px #0000003d, 0px 2px 3px 0px #00000040;
}

.final_data_previewer > div {
    display: flex;
    margin: 0 5px 10px 5px;
    align-items: center;
    justify-content: space-between;
}

.final_json_data {
    width: 100%;
    overflow: auto;
    scrollbar-width: thin;
}

.final_json_data::-webkit-scrollbar {
    display: block !important;
}

.WrapperContainer {
    margin-bottom: 10px;
    position: relative;
}

/* overridden css */
.WrapperContainer .array-editor-container {
    max-height: inherit !important;
}

.WrapperContainer .array-editor-container > table {
    display: block;
    overflow-x: auto !important;
    max-height: calc(100vh - 227px) !important;
    scrollbar-width: thin;
}

.WrapperContainer .array-editor-container > table::-webkit-scrollbar {
    display: block;
}

.WrapperContainer .array-editor-container > table > thead {
    top: 0px;
    z-index: 2;
    display: block;
    position: sticky;
    background: #ffffff;
}

.WrapperContainer .array-editor-container > table > tbody {
    display: block;
}

.WrapperContainer th,
.WrapperContainer td {
    padding: 10px !important
}

.WrapperContainer td:last-child {
    padding-right: 20px !important;
}

.WrapperContainer .MuiTableCell-root,
.WrapperContainer .MuiTypography-root {
    font-size: 1.4rem;
}

.WrapperContainer .MuiSelect-icon {
    top: calc(50% - 8px);
}

.WrapperContainer tbody input {
    /* width: auto !important; */
}

.WrapperContainer .firstCheckboxColumn {
    display: flex;
    align-items: center;
}

.WrapperContainer .MuiTableCell-paddingCheckbox {
    min-width: 100px;
}

.WrapperContainer .array-editor-container table thead tr th.MuiTableCell-head:not(.MuiTableCell-paddingCheckbox), 
.WrapperContainer .array-editor-container table tbody tr td.MuiTableCell-body:not(.MuiTableCell-paddingCheckbox) {
    min-width: 224px;
    text-align: center;
}

.WrapperContainer .array-editor-container table tbody tr td.MuiTableCell-body:not(.MuiTableCell-paddingCheckbox) > input {
    width: 100% !important;
}

.WrapperContainer .array-editor-container > table > tbody tr.search_fields_row {
    top: 54px;
    z-index: 2; 
    display: block;
    position: sticky;
    background: #ffffff;
}

.WrapperContainer .array-editor-container > table > thead > tr > th,
.WrapperContainer .array-editor-container > table > tbody > tr.search_fields_row > td {
    background: #ffffff;    
}

.WrapperContainer .array-editor-container table td .pinnedContainer {
    top: 40%;
    left: 50%;
    max-width: 85%;
    position: absolute;
    transform: translateX(-50%);
}

.WrapperContainer .array-editor-container table td .pinnedContainer > .array-editor-container {
    width: calc(100% + 2px);
    border: 1px solid #BDBDBD;
    box-shadow: 0 0 10px 0 #9e9e9e99;
}

.WrapperContainer .array-editor-container table td .array-editor-container table  {
    margin-left: 1px;
    width: calc(100% - 2px);
    max-height: calc(100vh - 400px) !important;
}

.WrapperContainer > .array-editor-container table tr.highlight-row {
    display: block;
}

.WrapperContainer > .array-editor-container table tr.highlight-row > td {
    border: 1px solid #4dd0e1;
    border-left: none;
    border-right: none;
    background-color: #e0f7fa;
}

.WrapperContainer .array-editor-container .array-editor-container .array-modal-close-icon {
    right: 10px;
    position: absolute;
}

.WrapperContainer .array-editor-container .array-editor-container .array-modal-close-icon > :first-child {
    font-size: 20px;
}
/* ============== */