# coding: utf-8

"""
    Flowable REST API

    # flowable / flowəb(ə)l /    - a compact and highly efficient workflow and Business Process Management (BPM) platform for developers, system admins and business users.  - a lightning fast, tried and tested BPMN 2 process engine written in Java. It is Apache 2.0 licensed open source, with a committed community.  - can run embedded in a Java application, or as a service on a server, a cluster, and in the cloud. It integrates perfectly with Spring. With a rich Java and REST API, it is the ideal engine for orchestrating human or system activities.  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from process_engine.api_client import ApiClient


class DeploymentApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_deployment(self, deployment_id, **kwargs):  # noqa: E501
        """Delete a deployment  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_deployment(deployment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str deployment_id: (required)
        :param bool cascade:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_deployment_with_http_info(deployment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_deployment_with_http_info(deployment_id, **kwargs)  # noqa: E501
            return data

    def delete_deployment_with_http_info(self, deployment_id, **kwargs):  # noqa: E501
        """Delete a deployment  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_deployment_with_http_info(deployment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str deployment_id: (required)
        :param bool cascade:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['deployment_id', 'cascade']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_deployment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'deployment_id' is set
        if ('deployment_id' not in params or
                params['deployment_id'] is None):
            raise ValueError("Missing the required parameter `deployment_id` when calling `delete_deployment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'deployment_id' in params:
            path_params['deploymentId'] = params['deployment_id']  # noqa: E501

        query_params = []
        if 'cascade' in params:
            query_params.append(('cascade', params['cascade']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/repository/deployments/{deploymentId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_deployment(self, deployment_id, **kwargs):  # noqa: E501
        """Get a deployment  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployment(deployment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str deployment_id: The id of the deployment to get. (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: DeploymentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_deployment_with_http_info(deployment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_deployment_with_http_info(deployment_id, **kwargs)  # noqa: E501
            return data

    def get_deployment_with_http_info(self, deployment_id, **kwargs):  # noqa: E501
        """Get a deployment  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployment_with_http_info(deployment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str deployment_id: The id of the deployment to get. (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: DeploymentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['deployment_id', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_deployment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'deployment_id' is set
        if ('deployment_id' not in params or
                params['deployment_id'] is None):
            raise ValueError("Missing the required parameter `deployment_id` when calling `get_deployment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'deployment_id' in params:
            path_params['deploymentId'] = params['deployment_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/repository/deployments/{deploymentId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeploymentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_deployment_resource(self, deployment_id, **kwargs):  # noqa: E501
        """Get a deployment resource  # noqa: E501

        Replace ** by ResourceId  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployment_resource(deployment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str deployment_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: DeploymentResourceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_deployment_resource_with_http_info(deployment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_deployment_resource_with_http_info(deployment_id, **kwargs)  # noqa: E501
            return data

    def get_deployment_resource_with_http_info(self, deployment_id, **kwargs):  # noqa: E501
        """Get a deployment resource  # noqa: E501

        Replace ** by ResourceId  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployment_resource_with_http_info(deployment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str deployment_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: DeploymentResourceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['deployment_id', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_deployment_resource" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'deployment_id' is set
        if ('deployment_id' not in params or
                params['deployment_id'] is None):
            raise ValueError("Missing the required parameter `deployment_id` when calling `get_deployment_resource`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'deployment_id' in params:
            path_params['deploymentId'] = params['deployment_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/repository/deployments/{deploymentId}/resources/**', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeploymentResourceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_deployment_resource_data(self, deployment_id, resource_name, **kwargs):  # noqa: E501
        """Get a deployment resource content  # noqa: E501

        The response body will contain the binary resource-content for the requested resource. The response content-type will be the same as the type returned in the resources mimeType property. Also, a content-disposition header is set, allowing browsers to download the file instead of displaying it.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployment_resource_data(deployment_id, resource_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str deployment_id: (required)
        :param str resource_name: The name of the resource to get. Make sure you URL-encode the resourceName in case it contains forward slashes. Eg: use diagrams%2Fmy-process.bpmn20.xml instead of diagrams/my-process.bpmn20.xml. (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_deployment_resource_data_with_http_info(deployment_id, resource_name, **kwargs)  # noqa: E501
        else:
            (data) = self.get_deployment_resource_data_with_http_info(deployment_id, resource_name, **kwargs)  # noqa: E501
            return data

    def get_deployment_resource_data_with_http_info(self, deployment_id, resource_name, **kwargs):  # noqa: E501
        """Get a deployment resource content  # noqa: E501

        The response body will contain the binary resource-content for the requested resource. The response content-type will be the same as the type returned in the resources mimeType property. Also, a content-disposition header is set, allowing browsers to download the file instead of displaying it.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_deployment_resource_data_with_http_info(deployment_id, resource_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str deployment_id: (required)
        :param str resource_name: The name of the resource to get. Make sure you URL-encode the resourceName in case it contains forward slashes. Eg: use diagrams%2Fmy-process.bpmn20.xml instead of diagrams/my-process.bpmn20.xml. (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['deployment_id', 'resource_name', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_deployment_resource_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'deployment_id' is set
        if ('deployment_id' not in params or
                params['deployment_id'] is None):
            raise ValueError("Missing the required parameter `deployment_id` when calling `get_deployment_resource_data`")  # noqa: E501
        # verify the required parameter 'resource_name' is set
        if ('resource_name' not in params or
                params['resource_name'] is None):
            raise ValueError("Missing the required parameter `resource_name` when calling `get_deployment_resource_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'deployment_id' in params:
            path_params['deploymentId'] = params['deployment_id']  # noqa: E501
        if 'resource_name' in params:
            path_params['resourceName'] = params['resource_name']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/repository/deployments/{deploymentId}/resourcedata/{resourceName}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_deployment_resources(self, deployment_id, **kwargs):  # noqa: E501
        """List resources in a deployment  # noqa: E501

        The dataUrl property in the resulting JSON for a single resource contains the actual URL to use for retrieving the binary resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_deployment_resources(deployment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str deployment_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[DeploymentResourceResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_deployment_resources_with_http_info(deployment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_deployment_resources_with_http_info(deployment_id, **kwargs)  # noqa: E501
            return data

    def list_deployment_resources_with_http_info(self, deployment_id, **kwargs):  # noqa: E501
        """List resources in a deployment  # noqa: E501

        The dataUrl property in the resulting JSON for a single resource contains the actual URL to use for retrieving the binary resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_deployment_resources_with_http_info(deployment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str deployment_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[DeploymentResourceResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['deployment_id', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_deployment_resources" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'deployment_id' is set
        if ('deployment_id' not in params or
                params['deployment_id'] is None):
            raise ValueError("Missing the required parameter `deployment_id` when calling `list_deployment_resources`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'deployment_id' in params:
            path_params['deploymentId'] = params['deployment_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/repository/deployments/{deploymentId}/resources', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[DeploymentResourceResponse]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_deployments(self, **kwargs):  # noqa: E501
        """List Deployments  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_deployments(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Only return deployments with the given name.
        :param str name_like: Only return deployments with a name like the given name.
        :param str category: Only return deployments with the given category.
        :param str category_not_equals: Only return deployments which do not have the given category.
        :param str parent_deployment_id: Only return deployments with the given parent deployment id.
        :param str parent_deployment_id_like: Only return deployments with a parent deployment id like the given value.
        :param str tenant_id: Only return deployments with the given tenantId.
        :param str tenant_id_like: Only return deployments with a tenantId like the given value.
        :param bool without_tenant_id: If true, only returns deployments without a tenantId set. If false, the withoutTenantId parameter is ignored.
        :param str sort: Property to sort on, to be used together with the order.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :return: DataResponseDeploymentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_deployments_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_deployments_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_deployments_with_http_info(self, **kwargs):  # noqa: E501
        """List Deployments  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_deployments_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Only return deployments with the given name.
        :param str name_like: Only return deployments with a name like the given name.
        :param str category: Only return deployments with the given category.
        :param str category_not_equals: Only return deployments which do not have the given category.
        :param str parent_deployment_id: Only return deployments with the given parent deployment id.
        :param str parent_deployment_id_like: Only return deployments with a parent deployment id like the given value.
        :param str tenant_id: Only return deployments with the given tenantId.
        :param str tenant_id_like: Only return deployments with a tenantId like the given value.
        :param bool without_tenant_id: If true, only returns deployments without a tenantId set. If false, the withoutTenantId parameter is ignored.
        :param str sort: Property to sort on, to be used together with the order.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :return: DataResponseDeploymentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'name_like', 'category', 'category_not_equals', 'parent_deployment_id', 'parent_deployment_id_like', 'tenant_id', 'tenant_id_like', 'without_tenant_id', 'sort', 'start', 'size', 'order']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_deployments" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'name_like' in params:
            query_params.append(('nameLike', params['name_like']))  # noqa: E501
        if 'category' in params:
            query_params.append(('category', params['category']))  # noqa: E501
        if 'category_not_equals' in params:
            query_params.append(('categoryNotEquals', params['category_not_equals']))  # noqa: E501
        if 'parent_deployment_id' in params:
            query_params.append(('parentDeploymentId', params['parent_deployment_id']))  # noqa: E501
        if 'parent_deployment_id_like' in params:
            query_params.append(('parentDeploymentIdLike', params['parent_deployment_id_like']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'tenant_id_like' in params:
            query_params.append(('tenantIdLike', params['tenant_id_like']))  # noqa: E501
        if 'without_tenant_id' in params:
            query_params.append(('withoutTenantId', params['without_tenant_id']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/repository/deployments', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DataResponseDeploymentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def upload_deployment(self, file, **kwargs):  # noqa: E501
        """Create a new deployment  # noqa: E501

        The request body should contain data of type multipart/form-data. There should be exactly one file in the request, any additional files will be ignored. The deployment name is the name of the file-field passed in. If multiple resources need to be deployed in a single deployment, compress the resources in a zip and make sure the file-name ends with .bar or .zip.  An additional parameter (form-field) can be passed in the request body with name tenantId. The value of this field will be used as the id of the tenant this deployment is done in.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.upload_deployment(file, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param file file: (required)
        :param str deployment_key:
        :param str deployment_name:
        :param str tenant_id:
        :return: DeploymentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.upload_deployment_with_http_info(file, **kwargs)  # noqa: E501
        else:
            (data) = self.upload_deployment_with_http_info(file, **kwargs)  # noqa: E501
            return data

    def upload_deployment_with_http_info(self, file, **kwargs):  # noqa: E501
        """Create a new deployment  # noqa: E501

        The request body should contain data of type multipart/form-data. There should be exactly one file in the request, any additional files will be ignored. The deployment name is the name of the file-field passed in. If multiple resources need to be deployed in a single deployment, compress the resources in a zip and make sure the file-name ends with .bar or .zip.  An additional parameter (form-field) can be passed in the request body with name tenantId. The value of this field will be used as the id of the tenant this deployment is done in.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.upload_deployment_with_http_info(file, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param file file: (required)
        :param str deployment_key:
        :param str deployment_name:
        :param str tenant_id:
        :return: DeploymentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['file', 'deployment_key', 'deployment_name', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method upload_deployment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'file' is set
        if ('file' not in params or
                params['file'] is None):
            raise ValueError("Missing the required parameter `file` when calling `upload_deployment`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'deployment_key' in params:
            query_params.append(('deploymentKey', params['deployment_key']))  # noqa: E501
        if 'deployment_name' in params:
            query_params.append(('deploymentName', params['deployment_name']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'file' in params:
            local_var_files['file'] = params['file']  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/repository/deployments', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeploymentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
