# coding: utf-8

"""
    Flowable REST API

    # flowable / flowəb(ə)l /    - a compact and highly efficient workflow and Business Process Management (BPM) platform for developers, system admins and business users.  - a lightning fast, tried and tested BPMN 2 process engine written in Java. It is Apache 2.0 licensed open source, with a committed community.  - can run embedded in a Java application, or as a service on a server, a cluster, and in the cloud. It integrates perfectly with Spring. With a rich Java and REST API, it is the ideal engine for orchestrating human or system activities.  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from process_engine.api_client import ApiClient


class HistoryProcessApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_comment(self, process_instance_id, **kwargs):  # noqa: E501
        """Create a new comment on a historic process instance  # noqa: E501

        Parameter saveProcessInstanceId is optional, if true save process instance id of task with comment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_comment(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param CommentResponse body:
        :return: CommentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_comment_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_comment_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def create_comment_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """Create a new comment on a historic process instance  # noqa: E501

        Parameter saveProcessInstanceId is optional, if true save process instance id of task with comment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_comment_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param CommentResponse body:
        :return: CommentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_comment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `create_comment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-process-instances/{processInstanceId}/comments', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CommentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_comment(self, process_instance_id, comment_id, **kwargs):  # noqa: E501
        """Delete a comment on a historic process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_comment(process_instance_id, comment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str comment_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_comment_with_http_info(process_instance_id, comment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_comment_with_http_info(process_instance_id, comment_id, **kwargs)  # noqa: E501
            return data

    def delete_comment_with_http_info(self, process_instance_id, comment_id, **kwargs):  # noqa: E501
        """Delete a comment on a historic process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_comment_with_http_info(process_instance_id, comment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str comment_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'comment_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_comment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `delete_comment`")  # noqa: E501
        # verify the required parameter 'comment_id' is set
        if ('comment_id' not in params or
                params['comment_id'] is None):
            raise ValueError("Missing the required parameter `comment_id` when calling `delete_comment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501
        if 'comment_id' in params:
            path_params['commentId'] = params['comment_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-process-instances/{processInstanceId}/comments/{commentId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_historic_process_instance(self, process_instance_id, **kwargs):  # noqa: E501
        """ Delete a historic process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_historic_process_instance(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_historic_process_instance_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_historic_process_instance_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def delete_historic_process_instance_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """ Delete a historic process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_historic_process_instance_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_historic_process_instance" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `delete_historic_process_instance`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-process-instances/{processInstanceId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_comment(self, process_instance_id, comment_id, **kwargs):  # noqa: E501
        """Get a comment on a historic process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_comment(process_instance_id, comment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str comment_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :return: CommentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_comment_with_http_info(process_instance_id, comment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_comment_with_http_info(process_instance_id, comment_id, **kwargs)  # noqa: E501
            return data

    def get_comment_with_http_info(self, process_instance_id, comment_id, **kwargs):  # noqa: E501
        """Get a comment on a historic process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_comment_with_http_info(process_instance_id, comment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str comment_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :return: CommentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'comment_id', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_comment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `get_comment`")  # noqa: E501
        # verify the required parameter 'comment_id' is set
        if ('comment_id' not in params or
                params['comment_id'] is None):
            raise ValueError("Missing the required parameter `comment_id` when calling `get_comment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501
        if 'comment_id' in params:
            path_params['commentId'] = params['comment_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-process-instances/{processInstanceId}/comments/{commentId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CommentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_historic_process_instance(self, process_instance_id, **kwargs):  # noqa: E501
        """Get a historic process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historic_process_instance(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :return: HistoricProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_historic_process_instance_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_historic_process_instance_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def get_historic_process_instance_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """Get a historic process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historic_process_instance_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :return: HistoricProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_historic_process_instance" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `get_historic_process_instance`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-process-instances/{processInstanceId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='HistoricProcessInstanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_historic_process_instance_variable_data(self, process_instance_id, variable_name, **kwargs):  # noqa: E501
        """Get the binary data for a historic process instance variable  # noqa: E501

        The response body contains the binary value of the variable. When the variable is of type binary, the content-type of the response is set to application/octet-stream, regardless of the content of the variable or the request accept-type header. In case of serializable, application/x-java-serialized-object is used as content-type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historic_process_instance_variable_data(process_instance_id, variable_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str variable_name: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_historic_process_instance_variable_data_with_http_info(process_instance_id, variable_name, **kwargs)  # noqa: E501
        else:
            (data) = self.get_historic_process_instance_variable_data_with_http_info(process_instance_id, variable_name, **kwargs)  # noqa: E501
            return data

    def get_historic_process_instance_variable_data_with_http_info(self, process_instance_id, variable_name, **kwargs):  # noqa: E501
        """Get the binary data for a historic process instance variable  # noqa: E501

        The response body contains the binary value of the variable. When the variable is of type binary, the content-type of the response is set to application/octet-stream, regardless of the content of the variable or the request accept-type header. In case of serializable, application/x-java-serialized-object is used as content-type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historic_process_instance_variable_data_with_http_info(process_instance_id, variable_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str variable_name: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'variable_name', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_historic_process_instance_variable_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `get_historic_process_instance_variable_data`")  # noqa: E501
        # verify the required parameter 'variable_name' is set
        if ('variable_name' not in params or
                params['variable_name'] is None):
            raise ValueError("Missing the required parameter `variable_name` when calling `get_historic_process_instance_variable_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501
        if 'variable_name' in params:
            path_params['variableName'] = params['variable_name']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-process-instances/{processInstanceId}/variables/{variableName}/data', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_historic_process_instance_comments(self, process_instance_id, **kwargs):  # noqa: E501
        """List comments on a historic process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_process_instance_comments(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[CommentResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_historic_process_instance_comments_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_historic_process_instance_comments_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def list_historic_process_instance_comments_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """List comments on a historic process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_process_instance_comments_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[CommentResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_historic_process_instance_comments" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `list_historic_process_instance_comments`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-process-instances/{processInstanceId}/comments', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[CommentResponse]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_historic_process_instance_identity_links(self, process_instance_id, **kwargs):  # noqa: E501
        """List identity links of a historic process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_process_instance_identity_links(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[HistoricIdentityLinkResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_historic_process_instance_identity_links_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_historic_process_instance_identity_links_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def list_historic_process_instance_identity_links_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """List identity links of a historic process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_process_instance_identity_links_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[HistoricIdentityLinkResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_historic_process_instance_identity_links" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `list_historic_process_instance_identity_links`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-process-instances/{processInstanceId}/identitylinks', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[HistoricIdentityLinkResponse]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_historic_process_instances(self, **kwargs):  # noqa: E501
        """List of historic process instances  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_process_instances(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: An id of the historic process instance.
        :param str process_instance_name: A name of the historic process instance.
        :param str process_instance_name_like: A name of the historic process instance used in a like query.
        :param str process_instance_name_like_ignore_case: A name of the historic process instance used in a like query ignoring case.
        :param str process_definition_key: The process definition key of the historic process instance.
        :param str process_definition_id: The process definition id of the historic process instance.
        :param str process_definition_name: The process definition name of the historic process instance.
        :param str process_definition_category: The process definition category of the historic process instance.
        :param str process_definition_version: The process definition version of the historic process instance.
        :param str deployment_id: The deployment id of the historic process instance.
        :param str business_key: The business key of the historic process instance.
        :param str involved_user: An involved user of the historic process instance.
        :param bool finished: Indication if the historic process instance is finished.
        :param bool deleted: Indication if the historic process instance is deleted.
        :param str super_process_instance_id: An optional parent process id of the historic process instance.
        :param bool exclude_subprocesses: Return only historic process instances which are not sub processes.
        :param datetime finished_after: Return only historic process instances that were finished after this date.
        :param datetime finished_before: Return only historic process instances that were finished before this date.
        :param datetime started_after: Return only historic process instances that were started after this date.
        :param datetime started_before: Return only historic process instances that were started before this date.
        :param str started_by: Return only historic process instances that were started by this user.
        :param bool include_process_variables: An indication if the historic process instance variables should be returned as well.
        :param str callback_id: Only return instances with the given callbackId.
        :param str callback_type: Only return instances with the given callbackType.
        :param str tenant_id: Only return instances with the given tenantId.
        :param str tenant_id_like: Only return instances with a tenantId like the given value.
        :param bool without_tenant_id: If true, only returns instances without a tenantId set. If false, the withoutTenantId parameter is ignored. 
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: DataResponseHistoricProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_historic_process_instances_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_historic_process_instances_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_historic_process_instances_with_http_info(self, **kwargs):  # noqa: E501
        """List of historic process instances  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_process_instances_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: An id of the historic process instance.
        :param str process_instance_name: A name of the historic process instance.
        :param str process_instance_name_like: A name of the historic process instance used in a like query.
        :param str process_instance_name_like_ignore_case: A name of the historic process instance used in a like query ignoring case.
        :param str process_definition_key: The process definition key of the historic process instance.
        :param str process_definition_id: The process definition id of the historic process instance.
        :param str process_definition_name: The process definition name of the historic process instance.
        :param str process_definition_category: The process definition category of the historic process instance.
        :param str process_definition_version: The process definition version of the historic process instance.
        :param str deployment_id: The deployment id of the historic process instance.
        :param str business_key: The business key of the historic process instance.
        :param str involved_user: An involved user of the historic process instance.
        :param bool finished: Indication if the historic process instance is finished.
        :param bool deleted: Indication if the historic process instance is deleted.
        :param str super_process_instance_id: An optional parent process id of the historic process instance.
        :param bool exclude_subprocesses: Return only historic process instances which are not sub processes.
        :param datetime finished_after: Return only historic process instances that were finished after this date.
        :param datetime finished_before: Return only historic process instances that were finished before this date.
        :param datetime started_after: Return only historic process instances that were started after this date.
        :param datetime started_before: Return only historic process instances that were started before this date.
        :param str started_by: Return only historic process instances that were started by this user.
        :param bool include_process_variables: An indication if the historic process instance variables should be returned as well.
        :param str callback_id: Only return instances with the given callbackId.
        :param str callback_type: Only return instances with the given callbackType.
        :param str tenant_id: Only return instances with the given tenantId.
        :param str tenant_id_like: Only return instances with a tenantId like the given value.
        :param bool without_tenant_id: If true, only returns instances without a tenantId set. If false, the withoutTenantId parameter is ignored. 
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: DataResponseHistoricProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'process_instance_name', 'process_instance_name_like', 'process_instance_name_like_ignore_case', 'process_definition_key', 'process_definition_id', 'process_definition_name', 'process_definition_category', 'process_definition_version', 'deployment_id', 'business_key', 'involved_user', 'finished', 'deleted', 'super_process_instance_id', 'exclude_subprocesses', 'finished_after', 'finished_before', 'started_after', 'started_before', 'started_by', 'include_process_variables', 'callback_id', 'callback_type', 'tenant_id', 'tenant_id_like', 'without_tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_historic_process_instances" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'process_instance_id' in params:
            query_params.append(('processInstanceId', params['process_instance_id']))  # noqa: E501
        if 'process_instance_name' in params:
            query_params.append(('processInstanceName', params['process_instance_name']))  # noqa: E501
        if 'process_instance_name_like' in params:
            query_params.append(('processInstanceNameLike', params['process_instance_name_like']))  # noqa: E501
        if 'process_instance_name_like_ignore_case' in params:
            query_params.append(('processInstanceNameLikeIgnoreCase', params['process_instance_name_like_ignore_case']))  # noqa: E501
        if 'process_definition_key' in params:
            query_params.append(('processDefinitionKey', params['process_definition_key']))  # noqa: E501
        if 'process_definition_id' in params:
            query_params.append(('processDefinitionId', params['process_definition_id']))  # noqa: E501
        if 'process_definition_name' in params:
            query_params.append(('processDefinitionName', params['process_definition_name']))  # noqa: E501
        if 'process_definition_category' in params:
            query_params.append(('processDefinitionCategory', params['process_definition_category']))  # noqa: E501
        if 'process_definition_version' in params:
            query_params.append(('processDefinitionVersion', params['process_definition_version']))  # noqa: E501
        if 'deployment_id' in params:
            query_params.append(('deploymentId', params['deployment_id']))  # noqa: E501
        if 'business_key' in params:
            query_params.append(('businessKey', params['business_key']))  # noqa: E501
        if 'involved_user' in params:
            query_params.append(('involvedUser', params['involved_user']))  # noqa: E501
        if 'finished' in params:
            query_params.append(('finished', params['finished']))  # noqa: E501
        if 'deleted' in params:
            query_params.append(('deleted', params['deleted']))  # noqa: E501
        if 'super_process_instance_id' in params:
            query_params.append(('superProcessInstanceId', params['super_process_instance_id']))  # noqa: E501
        if 'exclude_subprocesses' in params:
            query_params.append(('excludeSubprocesses', params['exclude_subprocesses']))  # noqa: E501
        if 'finished_after' in params:
            query_params.append(('finishedAfter', params['finished_after']))  # noqa: E501
        if 'finished_before' in params:
            query_params.append(('finishedBefore', params['finished_before']))  # noqa: E501
        if 'started_after' in params:
            query_params.append(('startedAfter', params['started_after']))  # noqa: E501
        if 'started_before' in params:
            query_params.append(('startedBefore', params['started_before']))  # noqa: E501
        if 'started_by' in params:
            query_params.append(('startedBy', params['started_by']))  # noqa: E501
        if 'include_process_variables' in params:
            query_params.append(('includeProcessVariables', params['include_process_variables']))  # noqa: E501
        if 'callback_id' in params:
            query_params.append(('callbackId', params['callback_id']))  # noqa: E501
        if 'callback_type' in params:
            query_params.append(('callbackType', params['callback_type']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'tenant_id_like' in params:
            query_params.append(('tenantIdLike', params['tenant_id_like']))  # noqa: E501
        if 'without_tenant_id' in params:
            query_params.append(('withoutTenantId', params['without_tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-process-instances', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DataResponseHistoricProcessInstanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def query_historic_process_instance(self, **kwargs):  # noqa: E501
        """Query for historic process instances  # noqa: E501

        All supported JSON parameter fields allowed are exactly the same as the parameters found for getting a collection of historic process instances, but passed in as JSON-body arguments rather than URL-parameters to allow for more advanced querying and preventing errors with request-uri’s that are too long. On top of that, the query allows for filtering based on process variables. The variables property is a JSON-array containing objects with the format as described here.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.query_historic_process_instance(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param HistoricProcessInstanceQueryRequest body:
        :return: DataResponseHistoricProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.query_historic_process_instance_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.query_historic_process_instance_with_http_info(**kwargs)  # noqa: E501
            return data

    def query_historic_process_instance_with_http_info(self, **kwargs):  # noqa: E501
        """Query for historic process instances  # noqa: E501

        All supported JSON parameter fields allowed are exactly the same as the parameters found for getting a collection of historic process instances, but passed in as JSON-body arguments rather than URL-parameters to allow for more advanced querying and preventing errors with request-uri’s that are too long. On top of that, the query allows for filtering based on process variables. The variables property is a JSON-array containing objects with the format as described here.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.query_historic_process_instance_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param HistoricProcessInstanceQueryRequest body:
        :return: DataResponseHistoricProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method query_historic_process_instance" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/query/historic-process-instances', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DataResponseHistoricProcessInstanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
