# coding: utf-8

"""
    Flowable REST API

    # flowable / flowəb(ə)l /    - a compact and highly efficient workflow and Business Process Management (BPM) platform for developers, system admins and business users.  - a lightning fast, tried and tested BPMN 2 process engine written in Java. It is Apache 2.0 licensed open source, with a committed community.  - can run embedded in a Java application, or as a service on a server, a cluster, and in the cloud. It integrates perfectly with Spring. With a rich Java and REST API, it is the ideal engine for orchestrating human or system activities.  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from process_engine.api_client import ApiClient


class HistoryApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_historic_detail_variable_data(self, detail_id, **kwargs):  # noqa: E501
        """Get the binary data for a historic detail variable  # noqa: E501

        The response body contains the binary value of the variable. When the variable is of type binary, the content-type of the response is set to application/octet-stream, regardless of the content of the variable or the request accept-type header. In case of serializable, application/x-java-serialized-object is used as content-type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historic_detail_variable_data(detail_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str detail_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_historic_detail_variable_data_with_http_info(detail_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_historic_detail_variable_data_with_http_info(detail_id, **kwargs)  # noqa: E501
            return data

    def get_historic_detail_variable_data_with_http_info(self, detail_id, **kwargs):  # noqa: E501
        """Get the binary data for a historic detail variable  # noqa: E501

        The response body contains the binary value of the variable. When the variable is of type binary, the content-type of the response is set to application/octet-stream, regardless of the content of the variable or the request accept-type header. In case of serializable, application/x-java-serialized-object is used as content-type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historic_detail_variable_data_with_http_info(detail_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str detail_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['detail_id', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_historic_detail_variable_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'detail_id' is set
        if ('detail_id' not in params or
                params['detail_id'] is None):
            raise ValueError("Missing the required parameter `detail_id` when calling `get_historic_detail_variable_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'detail_id' in params:
            path_params['detailId'] = params['detail_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-detail/{detailId}/data', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_historic_instance_variable_data(self, var_instance_id, **kwargs):  # noqa: E501
        """Get the binary data for a historic task instance variable  # noqa: E501

        The response body contains the binary value of the variable. When the variable is of type binary, the content-type of the response is set to application/octet-stream, regardless of the content of the variable or the request accept-type header. In case of serializable, application/x-java-serialized-object is used as content-type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historic_instance_variable_data(var_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str var_instance_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_historic_instance_variable_data_with_http_info(var_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_historic_instance_variable_data_with_http_info(var_instance_id, **kwargs)  # noqa: E501
            return data

    def get_historic_instance_variable_data_with_http_info(self, var_instance_id, **kwargs):  # noqa: E501
        """Get the binary data for a historic task instance variable  # noqa: E501

        The response body contains the binary value of the variable. When the variable is of type binary, the content-type of the response is set to application/octet-stream, regardless of the content of the variable or the request accept-type header. In case of serializable, application/x-java-serialized-object is used as content-type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historic_instance_variable_data_with_http_info(var_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str var_instance_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['var_instance_id', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_historic_instance_variable_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'var_instance_id' is set
        if ('var_instance_id' not in params or
                params['var_instance_id'] is None):
            raise ValueError("Missing the required parameter `var_instance_id` when calling `get_historic_instance_variable_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'var_instance_id' in params:
            path_params['varInstanceId'] = params['var_instance_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-variable-instances/{varInstanceId}/data', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_historic_task_instance_variable_data(self, task_id, variable_name, **kwargs):  # noqa: E501
        """Get the binary data for a historic task instance variable  # noqa: E501

        The response body contains the binary value of the variable. When the variable is of type binary, the content-type of the response is set to application/octet-stream, regardless of the content of the variable or the request accept-type header. In case of serializable, application/x-java-serialized-object is used as content-type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historic_task_instance_variable_data(task_id, variable_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str task_id: (required)
        :param str variable_name: (required)
        :param str scope:
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_historic_task_instance_variable_data_with_http_info(task_id, variable_name, **kwargs)  # noqa: E501
        else:
            (data) = self.get_historic_task_instance_variable_data_with_http_info(task_id, variable_name, **kwargs)  # noqa: E501
            return data

    def get_historic_task_instance_variable_data_with_http_info(self, task_id, variable_name, **kwargs):  # noqa: E501
        """Get the binary data for a historic task instance variable  # noqa: E501

        The response body contains the binary value of the variable. When the variable is of type binary, the content-type of the response is set to application/octet-stream, regardless of the content of the variable or the request accept-type header. In case of serializable, application/x-java-serialized-object is used as content-type.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historic_task_instance_variable_data_with_http_info(task_id, variable_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str task_id: (required)
        :param str variable_name: (required)
        :param str scope:
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['task_id', 'variable_name', 'scope', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_historic_task_instance_variable_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'task_id' is set
        if ('task_id' not in params or
                params['task_id'] is None):
            raise ValueError("Missing the required parameter `task_id` when calling `get_historic_task_instance_variable_data`")  # noqa: E501
        # verify the required parameter 'variable_name' is set
        if ('variable_name' not in params or
                params['variable_name'] is None):
            raise ValueError("Missing the required parameter `variable_name` when calling `get_historic_task_instance_variable_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'task_id' in params:
            path_params['taskId'] = params['task_id']  # noqa: E501
        if 'variable_name' in params:
            path_params['variableName'] = params['variable_name']  # noqa: E501

        query_params = []
        if 'scope' in params:
            query_params.append(('scope', params['scope']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-task-instances/{taskId}/variables/{variableName}/data', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_historic_activity_instances(self, **kwargs):  # noqa: E501
        """List historic activity instances  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_activity_instances(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str activity_id: An id of the activity instance.
        :param str activity_instance_id: An id of the historic activity instance.
        :param str activity_name: The name of the historic activity instance.
        :param str activity_type: The element type of the historic activity instance.
        :param str execution_id: The execution id of the historic activity instance.
        :param bool finished: Indication if the historic activity instance is finished.
        :param str task_assignee: The assignee of the historic activity instance.
        :param str process_instance_id: The process instance id of the historic activity instance.
        :param str process_definition_id: The process definition id of the historic activity instance.
        :param str tenant_id: Only return instances with the given tenantId.
        :param str tenant_id_like: Only return instances with a tenantId like the given value.
        :param bool without_tenant_id: If true, only returns instances without a tenantId set. If false, the withoutTenantId parameter is ignored.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: DataResponseHistoricActivityInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_historic_activity_instances_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_historic_activity_instances_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_historic_activity_instances_with_http_info(self, **kwargs):  # noqa: E501
        """List historic activity instances  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_activity_instances_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str activity_id: An id of the activity instance.
        :param str activity_instance_id: An id of the historic activity instance.
        :param str activity_name: The name of the historic activity instance.
        :param str activity_type: The element type of the historic activity instance.
        :param str execution_id: The execution id of the historic activity instance.
        :param bool finished: Indication if the historic activity instance is finished.
        :param str task_assignee: The assignee of the historic activity instance.
        :param str process_instance_id: The process instance id of the historic activity instance.
        :param str process_definition_id: The process definition id of the historic activity instance.
        :param str tenant_id: Only return instances with the given tenantId.
        :param str tenant_id_like: Only return instances with a tenantId like the given value.
        :param bool without_tenant_id: If true, only returns instances without a tenantId set. If false, the withoutTenantId parameter is ignored.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: DataResponseHistoricActivityInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['activity_id', 'activity_instance_id', 'activity_name', 'activity_type', 'execution_id', 'finished', 'task_assignee', 'process_instance_id', 'process_definition_id', 'tenant_id', 'tenant_id_like', 'without_tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_historic_activity_instances" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'activity_id' in params:
            query_params.append(('activityId', params['activity_id']))  # noqa: E501
        if 'activity_instance_id' in params:
            query_params.append(('activityInstanceId', params['activity_instance_id']))  # noqa: E501
        if 'activity_name' in params:
            query_params.append(('activityName', params['activity_name']))  # noqa: E501
        if 'activity_type' in params:
            query_params.append(('activityType', params['activity_type']))  # noqa: E501
        if 'execution_id' in params:
            query_params.append(('executionId', params['execution_id']))  # noqa: E501
        if 'finished' in params:
            query_params.append(('finished', params['finished']))  # noqa: E501
        if 'task_assignee' in params:
            query_params.append(('taskAssignee', params['task_assignee']))  # noqa: E501
        if 'process_instance_id' in params:
            query_params.append(('processInstanceId', params['process_instance_id']))  # noqa: E501
        if 'process_definition_id' in params:
            query_params.append(('processDefinitionId', params['process_definition_id']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'tenant_id_like' in params:
            query_params.append(('tenantIdLike', params['tenant_id_like']))  # noqa: E501
        if 'without_tenant_id' in params:
            query_params.append(('withoutTenantId', params['without_tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-activity-instances', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DataResponseHistoricActivityInstanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_historic_details(self, **kwargs):  # noqa: E501
        """Get historic detail  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_details(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The id of the historic detail.
        :param str process_instance_id: The process instance id of the historic detail.
        :param str execution_id: The execution id of the historic detail.
        :param str activity_instance_id: The activity instance id of the historic detail.
        :param str task_id: The task id of the historic detail.
        :param bool select_only_form_properties: Indication to only return form properties in the result.
        :param bool select_only_variable_updates: Indication to only return variable updates in the result.
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: DataResponseHistoricDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_historic_details_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_historic_details_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_historic_details_with_http_info(self, **kwargs):  # noqa: E501
        """Get historic detail  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_details_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The id of the historic detail.
        :param str process_instance_id: The process instance id of the historic detail.
        :param str execution_id: The execution id of the historic detail.
        :param str activity_instance_id: The activity instance id of the historic detail.
        :param str task_id: The task id of the historic detail.
        :param bool select_only_form_properties: Indication to only return form properties in the result.
        :param bool select_only_variable_updates: Indication to only return variable updates in the result.
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: DataResponseHistoricDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'process_instance_id', 'execution_id', 'activity_instance_id', 'task_id', 'select_only_form_properties', 'select_only_variable_updates', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_historic_details" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'process_instance_id' in params:
            query_params.append(('processInstanceId', params['process_instance_id']))  # noqa: E501
        if 'execution_id' in params:
            query_params.append(('executionId', params['execution_id']))  # noqa: E501
        if 'activity_instance_id' in params:
            query_params.append(('activityInstanceId', params['activity_instance_id']))  # noqa: E501
        if 'task_id' in params:
            query_params.append(('taskId', params['task_id']))  # noqa: E501
        if 'select_only_form_properties' in params:
            query_params.append(('selectOnlyFormProperties', params['select_only_form_properties']))  # noqa: E501
        if 'select_only_variable_updates' in params:
            query_params.append(('selectOnlyVariableUpdates', params['select_only_variable_updates']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-detail', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DataResponseHistoricDetailResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_historic_variable_instances(self, **kwargs):  # noqa: E501
        """List of historic variable instances  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_variable_instances(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: The process instance id of the historic variable instance.
        :param str task_id: The task id of the historic variable instance.
        :param bool exclude_task_variables: Indication to exclude the task variables from the result.
        :param str variable_name: The variable name of the historic variable instance.
        :param str variable_name_like: The variable name using the like operator for the historic variable instance.
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: DataResponseHistoricVariableInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_historic_variable_instances_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_historic_variable_instances_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_historic_variable_instances_with_http_info(self, **kwargs):  # noqa: E501
        """List of historic variable instances  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_variable_instances_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: The process instance id of the historic variable instance.
        :param str task_id: The task id of the historic variable instance.
        :param bool exclude_task_variables: Indication to exclude the task variables from the result.
        :param str variable_name: The variable name of the historic variable instance.
        :param str variable_name_like: The variable name using the like operator for the historic variable instance.
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: DataResponseHistoricVariableInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'task_id', 'exclude_task_variables', 'variable_name', 'variable_name_like', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_historic_variable_instances" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'process_instance_id' in params:
            query_params.append(('processInstanceId', params['process_instance_id']))  # noqa: E501
        if 'task_id' in params:
            query_params.append(('taskId', params['task_id']))  # noqa: E501
        if 'exclude_task_variables' in params:
            query_params.append(('excludeTaskVariables', params['exclude_task_variables']))  # noqa: E501
        if 'variable_name' in params:
            query_params.append(('variableName', params['variable_name']))  # noqa: E501
        if 'variable_name_like' in params:
            query_params.append(('variableNameLike', params['variable_name_like']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-variable-instances', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DataResponseHistoricVariableInstanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def query_activity_instances(self, **kwargs):  # noqa: E501
        """Query for historic activity instances  # noqa: E501

        All supported JSON parameter fields allowed are exactly the same as the parameters found for getting a collection of historic task instances, but passed in as JSON-body arguments rather than URL-parameters to allow for more advanced querying and preventing errors with request-uri’s that are too long.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.query_activity_instances(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param HistoricActivityInstanceQueryRequest body:
        :return: DataResponseHistoricActivityInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.query_activity_instances_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.query_activity_instances_with_http_info(**kwargs)  # noqa: E501
            return data

    def query_activity_instances_with_http_info(self, **kwargs):  # noqa: E501
        """Query for historic activity instances  # noqa: E501

        All supported JSON parameter fields allowed are exactly the same as the parameters found for getting a collection of historic task instances, but passed in as JSON-body arguments rather than URL-parameters to allow for more advanced querying and preventing errors with request-uri’s that are too long.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.query_activity_instances_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param HistoricActivityInstanceQueryRequest body:
        :return: DataResponseHistoricActivityInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method query_activity_instances" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/query/historic-activity-instances', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DataResponseHistoricActivityInstanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def query_historic_detail(self, **kwargs):  # noqa: E501
        """Query for historic details  # noqa: E501

        All supported JSON parameter fields allowed are exactly the same as the parameters found for getting a collection of historic process instances, but passed in as JSON-body arguments rather than URL-parameters to allow for more advanced querying and preventing errors with request-uri’s that are too long.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.query_historic_detail(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param HistoricDetailQueryRequest body:
        :return: DataResponseHistoricDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.query_historic_detail_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.query_historic_detail_with_http_info(**kwargs)  # noqa: E501
            return data

    def query_historic_detail_with_http_info(self, **kwargs):  # noqa: E501
        """Query for historic details  # noqa: E501

        All supported JSON parameter fields allowed are exactly the same as the parameters found for getting a collection of historic process instances, but passed in as JSON-body arguments rather than URL-parameters to allow for more advanced querying and preventing errors with request-uri’s that are too long.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.query_historic_detail_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param HistoricDetailQueryRequest body:
        :return: DataResponseHistoricDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method query_historic_detail" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/query/historic-detail', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DataResponseHistoricDetailResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def query_variable_instances(self, **kwargs):  # noqa: E501
        """Query for historic variable instances  # noqa: E501

        All supported JSON parameter fields allowed are exactly the same as the parameters found for getting a collection of historic process instances, but passed in as JSON-body arguments rather than URL-parameters to allow for more advanced querying and preventing errors with request-uri’s that are too long. On top of that, the query allows for filtering based on process variables. The variables property is a JSON-array containing objects with the format as described here.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.query_variable_instances(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param HistoricVariableInstanceQueryRequest body:
        :return: DataResponseHistoricVariableInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.query_variable_instances_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.query_variable_instances_with_http_info(**kwargs)  # noqa: E501
            return data

    def query_variable_instances_with_http_info(self, **kwargs):  # noqa: E501
        """Query for historic variable instances  # noqa: E501

        All supported JSON parameter fields allowed are exactly the same as the parameters found for getting a collection of historic process instances, but passed in as JSON-body arguments rather than URL-parameters to allow for more advanced querying and preventing errors with request-uri’s that are too long. On top of that, the query allows for filtering based on process variables. The variables property is a JSON-array containing objects with the format as described here.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.query_variable_instances_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param HistoricVariableInstanceQueryRequest body:
        :return: DataResponseHistoricVariableInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method query_variable_instances" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/query/historic-variable-instances', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DataResponseHistoricVariableInstanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
