# coding: utf-8

"""
    Flowable REST API

    # flowable / flowəb(ə)l /    - a compact and highly efficient workflow and Business Process Management (BPM) platform for developers, system admins and business users.  - a lightning fast, tried and tested BPMN 2 process engine written in Java. It is Apache 2.0 licensed open source, with a committed community.  - can run embedded in a Java application, or as a service on a server, a cluster, and in the cloud. It integrates perfectly with Spring. With a rich Java and REST API, it is the ideal engine for orchestrating human or system activities.  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from process_engine.api_client import ApiClient


class HistoryTaskApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_task_instance(self, task_id, **kwargs):  # noqa: E501
        """Delete a historic task instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_task_instance(task_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str task_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_task_instance_with_http_info(task_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_task_instance_with_http_info(task_id, **kwargs)  # noqa: E501
            return data

    def delete_task_instance_with_http_info(self, task_id, **kwargs):  # noqa: E501
        """Delete a historic task instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_task_instance_with_http_info(task_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str task_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['task_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_task_instance" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'task_id' is set
        if ('task_id' not in params or
                params['task_id'] is None):
            raise ValueError("Missing the required parameter `task_id` when calling `delete_task_instance`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'task_id' in params:
            path_params['taskId'] = params['task_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-task-instances/{taskId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_task_form(self, task_id, **kwargs):  # noqa: E501
        """Get a historic task instance form  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_task_form(task_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str task_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_task_form_with_http_info(task_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_task_form_with_http_info(task_id, **kwargs)  # noqa: E501
            return data

    def get_task_form_with_http_info(self, task_id, **kwargs):  # noqa: E501
        """Get a historic task instance form  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_task_form_with_http_info(task_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str task_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['task_id', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_task_form" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'task_id' is set
        if ('task_id' not in params or
                params['task_id'] is None):
            raise ValueError("Missing the required parameter `task_id` when calling `get_task_form`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'task_id' in params:
            path_params['taskId'] = params['task_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-task-instances/{taskId}/form', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_task_instance(self, task_id, **kwargs):  # noqa: E501
        """Get a single historic task instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_task_instance(task_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str task_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :return: HistoricTaskInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_task_instance_with_http_info(task_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_task_instance_with_http_info(task_id, **kwargs)  # noqa: E501
            return data

    def get_task_instance_with_http_info(self, task_id, **kwargs):  # noqa: E501
        """Get a single historic task instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_task_instance_with_http_info(task_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str task_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :return: HistoricTaskInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['task_id', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_task_instance" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'task_id' is set
        if ('task_id' not in params or
                params['task_id'] is None):
            raise ValueError("Missing the required parameter `task_id` when calling `get_task_instance`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'task_id' in params:
            path_params['taskId'] = params['task_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-task-instances/{taskId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='HistoricTaskInstanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_historic_task_instance_identity_links(self, task_id, **kwargs):  # noqa: E501
        """List identity links of a historic task instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_task_instance_identity_links(task_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str task_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[HistoricIdentityLinkResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_historic_task_instance_identity_links_with_http_info(task_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_historic_task_instance_identity_links_with_http_info(task_id, **kwargs)  # noqa: E501
            return data

    def list_historic_task_instance_identity_links_with_http_info(self, task_id, **kwargs):  # noqa: E501
        """List identity links of a historic task instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_task_instance_identity_links_with_http_info(task_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str task_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[HistoricIdentityLinkResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['task_id', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_historic_task_instance_identity_links" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'task_id' is set
        if ('task_id' not in params or
                params['task_id'] is None):
            raise ValueError("Missing the required parameter `task_id` when calling `list_historic_task_instance_identity_links`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'task_id' in params:
            path_params['taskId'] = params['task_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-task-instances/{taskId}/identitylinks', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[HistoricIdentityLinkResponse]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_historic_task_instances(self, **kwargs):  # noqa: E501
        """List historic task instances  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_task_instances(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str task_id: An id of the historic task instance.
        :param str process_instance_id: The process instance id of the historic task instance.
        :param str process_instance_id_with_children: Selects the historic task instances for the process instance and its children.
        :param str process_definition_key: The process definition key of the historic task instance.
        :param str process_definition_key_like: The process definition key of the historic task instance, which matches the given value.
        :param str process_definition_id: The process definition id of the historic task instance.
        :param str process_definition_name: The process definition name of the historic task instance.
        :param str process_definition_name_like: The process definition name of the historic task instance, which matches the given value.
        :param str process_business_key: The process instance business key of the historic task instance.
        :param str process_business_key_like: The process instance business key of the historic task instance that matches the given value.
        :param str execution_id: The execution id of the historic task instance.
        :param str task_definition_key: The task definition key for tasks part of a process
        :param str task_name: The task name of the historic task instance.
        :param str task_name_like: The task name with like operator for the historic task instance.
        :param str task_description: The task description of the historic task instance.
        :param str task_description_like: The task description with like operator for the historic task instance.
        :param str task_category: Select tasks with the given category. Note that this is the task category, not the category of the process definition (namespace within the BPMN Xml).
        :param str task_delete_reason: The task delete reason of the historic task instance.
        :param str task_delete_reason_like: The task delete reason with like operator for the historic task instance.
        :param str task_assignee: The assignee of the historic task instance.
        :param str task_assignee_like: The assignee with like operator for the historic task instance.
        :param str task_owner: The owner of the historic task instance.
        :param str task_owner_like: The owner with like operator for the historic task instance.
        :param str task_involved_user: An involved user of the historic task instance
        :param str task_priority: The priority of the historic task instance.
        :param bool finished: Indication if the historic task instance is finished.
        :param bool process_finished: Indication if the process instance of the historic task instance is finished.
        :param str parent_task_id: An optional parent task id of the historic task instance.
        :param datetime due_date: Return only historic task instances that have a due date equal this date.
        :param datetime due_date_after: Return only historic task instances that have a due date after this date.
        :param datetime due_date_before: Return only historic task instances that have a due date before this date.
        :param bool without_due_date: Return only historic task instances that have no due-date. When false is provided as value, this parameter is ignored.
        :param datetime task_completed_on: Return only historic task instances that have been completed on this date.
        :param datetime task_completed_after: Return only historic task instances that have been completed after this date.
        :param datetime task_completed_before: Return only historic task instances that have been completed before this date.
        :param datetime task_created_on: Return only historic task instances that were created on this date.
        :param datetime task_created_before: Return only historic task instances that were created before this date.
        :param datetime task_created_after: Return only historic task instances that were created after this date.
        :param bool include_task_local_variables: An indication if the historic task instance local variables should be returned as well.
        :param bool include_process_variables: An indication if the historic task instance global variables should be returned as well.
        :param str scope_definition_id: Only return historic task instances with the given scopeDefinitionId.
        :param str scope_id: Only return historic task instances with the given scopeId.
        :param str scope_type: Only return historic task instances with the given scopeType.
        :param str tenant_id: Only return historic task instances with the given tenantId.
        :param str tenant_id_like: Only return historic task instances with a tenantId like the given value.
        :param bool without_tenant_id: If true, only returns historic task instances without a tenantId set. If false, the withoutTenantId parameter is ignored.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: DataResponseHistoricTaskInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_historic_task_instances_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_historic_task_instances_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_historic_task_instances_with_http_info(self, **kwargs):  # noqa: E501
        """List historic task instances  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_historic_task_instances_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str task_id: An id of the historic task instance.
        :param str process_instance_id: The process instance id of the historic task instance.
        :param str process_instance_id_with_children: Selects the historic task instances for the process instance and its children.
        :param str process_definition_key: The process definition key of the historic task instance.
        :param str process_definition_key_like: The process definition key of the historic task instance, which matches the given value.
        :param str process_definition_id: The process definition id of the historic task instance.
        :param str process_definition_name: The process definition name of the historic task instance.
        :param str process_definition_name_like: The process definition name of the historic task instance, which matches the given value.
        :param str process_business_key: The process instance business key of the historic task instance.
        :param str process_business_key_like: The process instance business key of the historic task instance that matches the given value.
        :param str execution_id: The execution id of the historic task instance.
        :param str task_definition_key: The task definition key for tasks part of a process
        :param str task_name: The task name of the historic task instance.
        :param str task_name_like: The task name with like operator for the historic task instance.
        :param str task_description: The task description of the historic task instance.
        :param str task_description_like: The task description with like operator for the historic task instance.
        :param str task_category: Select tasks with the given category. Note that this is the task category, not the category of the process definition (namespace within the BPMN Xml).
        :param str task_delete_reason: The task delete reason of the historic task instance.
        :param str task_delete_reason_like: The task delete reason with like operator for the historic task instance.
        :param str task_assignee: The assignee of the historic task instance.
        :param str task_assignee_like: The assignee with like operator for the historic task instance.
        :param str task_owner: The owner of the historic task instance.
        :param str task_owner_like: The owner with like operator for the historic task instance.
        :param str task_involved_user: An involved user of the historic task instance
        :param str task_priority: The priority of the historic task instance.
        :param bool finished: Indication if the historic task instance is finished.
        :param bool process_finished: Indication if the process instance of the historic task instance is finished.
        :param str parent_task_id: An optional parent task id of the historic task instance.
        :param datetime due_date: Return only historic task instances that have a due date equal this date.
        :param datetime due_date_after: Return only historic task instances that have a due date after this date.
        :param datetime due_date_before: Return only historic task instances that have a due date before this date.
        :param bool without_due_date: Return only historic task instances that have no due-date. When false is provided as value, this parameter is ignored.
        :param datetime task_completed_on: Return only historic task instances that have been completed on this date.
        :param datetime task_completed_after: Return only historic task instances that have been completed after this date.
        :param datetime task_completed_before: Return only historic task instances that have been completed before this date.
        :param datetime task_created_on: Return only historic task instances that were created on this date.
        :param datetime task_created_before: Return only historic task instances that were created before this date.
        :param datetime task_created_after: Return only historic task instances that were created after this date.
        :param bool include_task_local_variables: An indication if the historic task instance local variables should be returned as well.
        :param bool include_process_variables: An indication if the historic task instance global variables should be returned as well.
        :param str scope_definition_id: Only return historic task instances with the given scopeDefinitionId.
        :param str scope_id: Only return historic task instances with the given scopeId.
        :param str scope_type: Only return historic task instances with the given scopeType.
        :param str tenant_id: Only return historic task instances with the given tenantId.
        :param str tenant_id_like: Only return historic task instances with a tenantId like the given value.
        :param bool without_tenant_id: If true, only returns historic task instances without a tenantId set. If false, the withoutTenantId parameter is ignored.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: DataResponseHistoricTaskInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['task_id', 'process_instance_id', 'process_instance_id_with_children', 'process_definition_key', 'process_definition_key_like', 'process_definition_id', 'process_definition_name', 'process_definition_name_like', 'process_business_key', 'process_business_key_like', 'execution_id', 'task_definition_key', 'task_name', 'task_name_like', 'task_description', 'task_description_like', 'task_category', 'task_delete_reason', 'task_delete_reason_like', 'task_assignee', 'task_assignee_like', 'task_owner', 'task_owner_like', 'task_involved_user', 'task_priority', 'finished', 'process_finished', 'parent_task_id', 'due_date', 'due_date_after', 'due_date_before', 'without_due_date', 'task_completed_on', 'task_completed_after', 'task_completed_before', 'task_created_on', 'task_created_before', 'task_created_after', 'include_task_local_variables', 'include_process_variables', 'scope_definition_id', 'scope_id', 'scope_type', 'tenant_id', 'tenant_id_like', 'without_tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_historic_task_instances" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'task_id' in params:
            query_params.append(('taskId', params['task_id']))  # noqa: E501
        if 'process_instance_id' in params:
            query_params.append(('processInstanceId', params['process_instance_id']))  # noqa: E501
        if 'process_instance_id_with_children' in params:
            query_params.append(('processInstanceIdWithChildren', params['process_instance_id_with_children']))  # noqa: E501
        if 'process_definition_key' in params:
            query_params.append(('processDefinitionKey', params['process_definition_key']))  # noqa: E501
        if 'process_definition_key_like' in params:
            query_params.append(('processDefinitionKeyLike', params['process_definition_key_like']))  # noqa: E501
        if 'process_definition_id' in params:
            query_params.append(('processDefinitionId', params['process_definition_id']))  # noqa: E501
        if 'process_definition_name' in params:
            query_params.append(('processDefinitionName', params['process_definition_name']))  # noqa: E501
        if 'process_definition_name_like' in params:
            query_params.append(('processDefinitionNameLike', params['process_definition_name_like']))  # noqa: E501
        if 'process_business_key' in params:
            query_params.append(('processBusinessKey', params['process_business_key']))  # noqa: E501
        if 'process_business_key_like' in params:
            query_params.append(('processBusinessKeyLike', params['process_business_key_like']))  # noqa: E501
        if 'execution_id' in params:
            query_params.append(('executionId', params['execution_id']))  # noqa: E501
        if 'task_definition_key' in params:
            query_params.append(('taskDefinitionKey', params['task_definition_key']))  # noqa: E501
        if 'task_name' in params:
            query_params.append(('taskName', params['task_name']))  # noqa: E501
        if 'task_name_like' in params:
            query_params.append(('taskNameLike', params['task_name_like']))  # noqa: E501
        if 'task_description' in params:
            query_params.append(('taskDescription', params['task_description']))  # noqa: E501
        if 'task_description_like' in params:
            query_params.append(('taskDescriptionLike', params['task_description_like']))  # noqa: E501
        if 'task_category' in params:
            query_params.append(('taskCategory', params['task_category']))  # noqa: E501
        if 'task_delete_reason' in params:
            query_params.append(('taskDeleteReason', params['task_delete_reason']))  # noqa: E501
        if 'task_delete_reason_like' in params:
            query_params.append(('taskDeleteReasonLike', params['task_delete_reason_like']))  # noqa: E501
        if 'task_assignee' in params:
            query_params.append(('taskAssignee', params['task_assignee']))  # noqa: E501
        if 'task_assignee_like' in params:
            query_params.append(('taskAssigneeLike', params['task_assignee_like']))  # noqa: E501
        if 'task_owner' in params:
            query_params.append(('taskOwner', params['task_owner']))  # noqa: E501
        if 'task_owner_like' in params:
            query_params.append(('taskOwnerLike', params['task_owner_like']))  # noqa: E501
        if 'task_involved_user' in params:
            query_params.append(('taskInvolvedUser', params['task_involved_user']))  # noqa: E501
        if 'task_priority' in params:
            query_params.append(('taskPriority', params['task_priority']))  # noqa: E501
        if 'finished' in params:
            query_params.append(('finished', params['finished']))  # noqa: E501
        if 'process_finished' in params:
            query_params.append(('processFinished', params['process_finished']))  # noqa: E501
        if 'parent_task_id' in params:
            query_params.append(('parentTaskId', params['parent_task_id']))  # noqa: E501
        if 'due_date' in params:
            query_params.append(('dueDate', params['due_date']))  # noqa: E501
        if 'due_date_after' in params:
            query_params.append(('dueDateAfter', params['due_date_after']))  # noqa: E501
        if 'due_date_before' in params:
            query_params.append(('dueDateBefore', params['due_date_before']))  # noqa: E501
        if 'without_due_date' in params:
            query_params.append(('withoutDueDate', params['without_due_date']))  # noqa: E501
        if 'task_completed_on' in params:
            query_params.append(('taskCompletedOn', params['task_completed_on']))  # noqa: E501
        if 'task_completed_after' in params:
            query_params.append(('taskCompletedAfter', params['task_completed_after']))  # noqa: E501
        if 'task_completed_before' in params:
            query_params.append(('taskCompletedBefore', params['task_completed_before']))  # noqa: E501
        if 'task_created_on' in params:
            query_params.append(('taskCreatedOn', params['task_created_on']))  # noqa: E501
        if 'task_created_before' in params:
            query_params.append(('taskCreatedBefore', params['task_created_before']))  # noqa: E501
        if 'task_created_after' in params:
            query_params.append(('taskCreatedAfter', params['task_created_after']))  # noqa: E501
        if 'include_task_local_variables' in params:
            query_params.append(('includeTaskLocalVariables', params['include_task_local_variables']))  # noqa: E501
        if 'include_process_variables' in params:
            query_params.append(('includeProcessVariables', params['include_process_variables']))  # noqa: E501
        if 'scope_definition_id' in params:
            query_params.append(('scopeDefinitionId', params['scope_definition_id']))  # noqa: E501
        if 'scope_id' in params:
            query_params.append(('scopeId', params['scope_id']))  # noqa: E501
        if 'scope_type' in params:
            query_params.append(('scopeType', params['scope_type']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'tenant_id_like' in params:
            query_params.append(('tenantIdLike', params['tenant_id_like']))  # noqa: E501
        if 'without_tenant_id' in params:
            query_params.append(('withoutTenantId', params['without_tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/history/historic-task-instances', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DataResponseHistoricTaskInstanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def query_historic_task_instance(self, **kwargs):  # noqa: E501
        """Query for historic task instances  # noqa: E501

        All supported JSON parameter fields allowed are exactly the same as the parameters found for getting a collection of historic task instances, but passed in as JSON-body arguments rather than URL-parameters to allow for more advanced querying and preventing errors with request-uri’s that are too long. On top of that, the query allows for filtering based on process variables. The taskVariables and processVariables properties are JSON-arrays containing objects with the format as described here.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.query_historic_task_instance(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param HistoricTaskInstanceQueryRequest body:
        :return: DataResponseHistoricTaskInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.query_historic_task_instance_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.query_historic_task_instance_with_http_info(**kwargs)  # noqa: E501
            return data

    def query_historic_task_instance_with_http_info(self, **kwargs):  # noqa: E501
        """Query for historic task instances  # noqa: E501

        All supported JSON parameter fields allowed are exactly the same as the parameters found for getting a collection of historic task instances, but passed in as JSON-body arguments rather than URL-parameters to allow for more advanced querying and preventing errors with request-uri’s that are too long. On top of that, the query allows for filtering based on process variables. The taskVariables and processVariables properties are JSON-arrays containing objects with the format as described here.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.query_historic_task_instance_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param HistoricTaskInstanceQueryRequest body:
        :return: DataResponseHistoricTaskInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method query_historic_task_instance" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/query/historic-task-instances', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DataResponseHistoricTaskInstanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
