# coding: utf-8

"""
    Flowable REST API

    # flowable / flowəb(ə)l /    - a compact and highly efficient workflow and Business Process Management (BPM) platform for developers, system admins and business users.  - a lightning fast, tried and tested BPMN 2 process engine written in Java. It is Apache 2.0 licensed open source, with a committed community.  - can run embedded in a Java application, or as a service on a server, a cluster, and in the cloud. It integrates perfectly with Spring. With a rich Java and REST API, it is the ideal engine for orchestrating human or system activities.  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from process_engine.api_client import ApiClient


class ProcessInstancesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def change_activity_state(self, process_instance_id, **kwargs):  # noqa: E501
        """Change the state a process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.change_activity_state(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param ExecutionChangeActivityStateRequest body:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.change_activity_state_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.change_activity_state_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def change_activity_state_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """Change the state a process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.change_activity_state_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param ExecutionChangeActivityStateRequest body:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method change_activity_state" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `change_activity_state`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/change-state', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def change_activity_state_0(self, process_instance_id, **kwargs):  # noqa: E501
        """Migrate process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.change_activity_state_0(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str body:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.change_activity_state_0_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.change_activity_state_0_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def change_activity_state_0_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """Migrate process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.change_activity_state_0_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str body:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method change_activity_state_0" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `change_activity_state_0`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/migrate', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_process_instance(self, **kwargs):  # noqa: E501
        """Start a process instance  # noqa: E501

        Note that also a *transientVariables* property is accepted as part of this json, that follows the same structure as the *variables* property.  Only one of *processDefinitionId*, *processDefinitionKey* or *message* can be used in the request body.   Parameters *businessKey*, *variables* and *tenantId* are optional.   If tenantId is omitted, the default tenant will be used. More information about the variable format can be found in the REST variables section.   Note that the variable-scope that is supplied is ignored, process-variables are always local.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_process_instance(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ProcessInstanceCreateRequest body:
        :return: ProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_process_instance_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.create_process_instance_with_http_info(**kwargs)  # noqa: E501
            return data

    def create_process_instance_with_http_info(self, **kwargs):  # noqa: E501
        """Start a process instance  # noqa: E501

        Note that also a *transientVariables* property is accepted as part of this json, that follows the same structure as the *variables* property.  Only one of *processDefinitionId*, *processDefinitionKey* or *message* can be used in the request body.   Parameters *businessKey*, *variables* and *tenantId* are optional.   If tenantId is omitted, the default tenant will be used. More information about the variable format can be found in the REST variables section.   Note that the variable-scope that is supplied is ignored, process-variables are always local.    # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_process_instance_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ProcessInstanceCreateRequest body:
        :return: ProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_process_instance" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ProcessInstanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_process_instance(self, process_instance_id, **kwargs):  # noqa: E501
        """Delete a process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_process_instance(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str delete_reason:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_process_instance_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_process_instance_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def delete_process_instance_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """Delete a process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_process_instance_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str delete_reason:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'delete_reason']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_process_instance" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `delete_process_instance`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []
        if 'delete_reason' in params:
            query_params.append(('deleteReason', params['delete_reason']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_process_instance(self, process_instance_id, **kwargs):  # noqa: E501
        """Get a process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_process_instance(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :return: ProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_process_instance_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_process_instance_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def get_process_instance_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """Get a process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_process_instance_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :return: ProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_process_instance" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `get_process_instance`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ProcessInstanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_process_instance_diagram(self, process_instance_id, **kwargs):  # noqa: E501
        """Get diagram for a process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_process_instance_diagram(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_process_instance_diagram_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_process_instance_diagram_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def get_process_instance_diagram_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """Get diagram for a process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_process_instance_diagram_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_process_instance_diagram" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `get_process_instance_diagram`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/diagram', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def inject_activity_in_process_instance(self, process_instance_id, **kwargs):  # noqa: E501
        """Inject activity in a process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.inject_activity_in_process_instance(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param InjectActivityRequest body:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.inject_activity_in_process_instance_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.inject_activity_in_process_instance_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def inject_activity_in_process_instance_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """Inject activity in a process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.inject_activity_in_process_instance_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param InjectActivityRequest body:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method inject_activity_in_process_instance" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `inject_activity_in_process_instance`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/inject', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_process_instances(self, **kwargs):  # noqa: E501
        """List process instances  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_process_instances(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Only return models with the given version.
        :param str name: Only return models with the given name.
        :param str name_like: Only return models like the given name.
        :param str name_like_ignore_case: Only return models like the given name ignoring case.
        :param str process_definition_key: Only return process instances with the given process definition key.
        :param str process_definition_id: Only return process instances with the given process definition id.
        :param str process_definition_category: Only return process instances with the given process definition category.
        :param int process_definition_version: Only return process instances with the given process definition version.
        :param str process_definition_engine_version: Only return process instances with the given process definition engine version.
        :param str business_key: Only return process instances with the given businessKey.
        :param str started_by: Only return process instances started by the given user.
        :param datetime started_before: Only return process instances started before the given date.
        :param datetime started_after: Only return process instances started after the given date.
        :param str involved_user: Only return process instances in which the given user is involved.
        :param bool suspended: If true, only return process instance which are suspended. If false, only return process instances which are not suspended (active).
        :param str super_process_instance_id: Only return process instances which have the given super process-instance id (for processes that have a call-activities).
        :param str sub_process_instance_id: Only return process instances which have the given sub process-instance id (for processes started as a call-activity).
        :param bool exclude_subprocesses: Return only process instances which are not sub processes.
        :param bool include_process_variables: Indication to include process variables in the result.
        :param str callback_id: Only return process instances with the given callbackId.
        :param str callback_type: Only return process instances with the given callbackType.
        :param str tenant_id: Only return process instances with the given tenantId.
        :param str tenant_id_like: Only return process instances with a tenantId like the given value.
        :param bool without_tenant_id: If true, only returns process instances without a tenantId set. If false, the withoutTenantId parameter is ignored.
        :param str sort: Property to sort on, to be used together with the order.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :return: DataResponseProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_process_instances_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_process_instances_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_process_instances_with_http_info(self, **kwargs):  # noqa: E501
        """List process instances  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_process_instances_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Only return models with the given version.
        :param str name: Only return models with the given name.
        :param str name_like: Only return models like the given name.
        :param str name_like_ignore_case: Only return models like the given name ignoring case.
        :param str process_definition_key: Only return process instances with the given process definition key.
        :param str process_definition_id: Only return process instances with the given process definition id.
        :param str process_definition_category: Only return process instances with the given process definition category.
        :param int process_definition_version: Only return process instances with the given process definition version.
        :param str process_definition_engine_version: Only return process instances with the given process definition engine version.
        :param str business_key: Only return process instances with the given businessKey.
        :param str started_by: Only return process instances started by the given user.
        :param datetime started_before: Only return process instances started before the given date.
        :param datetime started_after: Only return process instances started after the given date.
        :param str involved_user: Only return process instances in which the given user is involved.
        :param bool suspended: If true, only return process instance which are suspended. If false, only return process instances which are not suspended (active).
        :param str super_process_instance_id: Only return process instances which have the given super process-instance id (for processes that have a call-activities).
        :param str sub_process_instance_id: Only return process instances which have the given sub process-instance id (for processes started as a call-activity).
        :param bool exclude_subprocesses: Return only process instances which are not sub processes.
        :param bool include_process_variables: Indication to include process variables in the result.
        :param str callback_id: Only return process instances with the given callbackId.
        :param str callback_type: Only return process instances with the given callbackType.
        :param str tenant_id: Only return process instances with the given tenantId.
        :param str tenant_id_like: Only return process instances with a tenantId like the given value.
        :param bool without_tenant_id: If true, only returns process instances without a tenantId set. If false, the withoutTenantId parameter is ignored.
        :param str sort: Property to sort on, to be used together with the order.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :return: DataResponseProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'name', 'name_like', 'name_like_ignore_case', 'process_definition_key', 'process_definition_id', 'process_definition_category', 'process_definition_version', 'process_definition_engine_version', 'business_key', 'started_by', 'started_before', 'started_after', 'involved_user', 'suspended', 'super_process_instance_id', 'sub_process_instance_id', 'exclude_subprocesses', 'include_process_variables', 'callback_id', 'callback_type', 'tenant_id', 'tenant_id_like', 'without_tenant_id', 'sort', 'start', 'size', 'order']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_process_instances" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'name_like' in params:
            query_params.append(('nameLike', params['name_like']))  # noqa: E501
        if 'name_like_ignore_case' in params:
            query_params.append(('nameLikeIgnoreCase', params['name_like_ignore_case']))  # noqa: E501
        if 'process_definition_key' in params:
            query_params.append(('processDefinitionKey', params['process_definition_key']))  # noqa: E501
        if 'process_definition_id' in params:
            query_params.append(('processDefinitionId', params['process_definition_id']))  # noqa: E501
        if 'process_definition_category' in params:
            query_params.append(('processDefinitionCategory', params['process_definition_category']))  # noqa: E501
        if 'process_definition_version' in params:
            query_params.append(('processDefinitionVersion', params['process_definition_version']))  # noqa: E501
        if 'process_definition_engine_version' in params:
            query_params.append(('processDefinitionEngineVersion', params['process_definition_engine_version']))  # noqa: E501
        if 'business_key' in params:
            query_params.append(('businessKey', params['business_key']))  # noqa: E501
        if 'started_by' in params:
            query_params.append(('startedBy', params['started_by']))  # noqa: E501
        if 'started_before' in params:
            query_params.append(('startedBefore', params['started_before']))  # noqa: E501
        if 'started_after' in params:
            query_params.append(('startedAfter', params['started_after']))  # noqa: E501
        if 'involved_user' in params:
            query_params.append(('involvedUser', params['involved_user']))  # noqa: E501
        if 'suspended' in params:
            query_params.append(('suspended', params['suspended']))  # noqa: E501
        if 'super_process_instance_id' in params:
            query_params.append(('superProcessInstanceId', params['super_process_instance_id']))  # noqa: E501
        if 'sub_process_instance_id' in params:
            query_params.append(('subProcessInstanceId', params['sub_process_instance_id']))  # noqa: E501
        if 'exclude_subprocesses' in params:
            query_params.append(('excludeSubprocesses', params['exclude_subprocesses']))  # noqa: E501
        if 'include_process_variables' in params:
            query_params.append(('includeProcessVariables', params['include_process_variables']))  # noqa: E501
        if 'callback_id' in params:
            query_params.append(('callbackId', params['callback_id']))  # noqa: E501
        if 'callback_type' in params:
            query_params.append(('callbackType', params['callback_type']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'tenant_id_like' in params:
            query_params.append(('tenantIdLike', params['tenant_id_like']))  # noqa: E501
        if 'without_tenant_id' in params:
            query_params.append(('withoutTenantId', params['without_tenant_id']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DataResponseProcessInstanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def perform_process_instance_action(self, process_instance_id, **kwargs):  # noqa: E501
        """Activate or suspend a process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.perform_process_instance_action(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param ProcessInstanceActionRequest body:
        :return: ProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.perform_process_instance_action_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.perform_process_instance_action_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def perform_process_instance_action_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """Activate or suspend a process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.perform_process_instance_action_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param ProcessInstanceActionRequest body:
        :return: ProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method perform_process_instance_action" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `perform_process_instance_action`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ProcessInstanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def query_process_instances(self, **kwargs):  # noqa: E501
        """Query process instances  # noqa: E501

        The request body can contain all possible filters that can be used in the List process instances URL query. On top of these, it’s possible to provide an array of variables to include in the query, with their format described here.  The general paging and sorting query-parameters can be used for this URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.query_process_instances(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ProcessInstanceQueryRequest body:
        :return: DataResponseProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.query_process_instances_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.query_process_instances_with_http_info(**kwargs)  # noqa: E501
            return data

    def query_process_instances_with_http_info(self, **kwargs):  # noqa: E501
        """Query process instances  # noqa: E501

        The request body can contain all possible filters that can be used in the List process instances URL query. On top of these, it’s possible to provide an array of variables to include in the query, with their format described here.  The general paging and sorting query-parameters can be used for this URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.query_process_instances_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ProcessInstanceQueryRequest body:
        :return: DataResponseProcessInstanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method query_process_instances" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/query/process-instances', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DataResponseProcessInstanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
