# coding: utf-8

"""
    Flowable REST API

    # flowable / flowəb(ə)l /    - a compact and highly efficient workflow and Business Process Management (BPM) platform for developers, system admins and business users.  - a lightning fast, tried and tested BPMN 2 process engine written in Java. It is Apache 2.0 licensed open source, with a committed community.  - can run embedded in a Java application, or as a service on a server, a cluster, and in the cloud. It integrates perfectly with Spring. With a rich Java and REST API, it is the ideal engine for orchestrating human or system activities.  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from process_engine.api_client import ApiClient


class ProcessInstanceIdentityLinksApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_process_instance_identity_links(self, process_instance_id, **kwargs):  # noqa: E501
        """Add an involved user to a process instance  # noqa: E501

        Note that the groupId in Response Body will always be null, as it’s only possible to involve users with a process-instance.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_process_instance_identity_links(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param RestIdentityLink body:
        :return: RestIdentityLink
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_process_instance_identity_links_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_process_instance_identity_links_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def create_process_instance_identity_links_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """Add an involved user to a process instance  # noqa: E501

        Note that the groupId in Response Body will always be null, as it’s only possible to involve users with a process-instance.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_process_instance_identity_links_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param RestIdentityLink body:
        :return: RestIdentityLink
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_process_instance_identity_links" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `create_process_instance_identity_links`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/identitylinks', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RestIdentityLink',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_process_instance_identity_links(self, process_instance_id, identity_id, type, **kwargs):  # noqa: E501
        """Remove an involved user to from process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_process_instance_identity_links(process_instance_id, identity_id, type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str identity_id: (required)
        :param str type: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_process_instance_identity_links_with_http_info(process_instance_id, identity_id, type, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_process_instance_identity_links_with_http_info(process_instance_id, identity_id, type, **kwargs)  # noqa: E501
            return data

    def delete_process_instance_identity_links_with_http_info(self, process_instance_id, identity_id, type, **kwargs):  # noqa: E501
        """Remove an involved user to from process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_process_instance_identity_links_with_http_info(process_instance_id, identity_id, type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str identity_id: (required)
        :param str type: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'identity_id', 'type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_process_instance_identity_links" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `delete_process_instance_identity_links`")  # noqa: E501
        # verify the required parameter 'identity_id' is set
        if ('identity_id' not in params or
                params['identity_id'] is None):
            raise ValueError("Missing the required parameter `identity_id` when calling `delete_process_instance_identity_links`")  # noqa: E501
        # verify the required parameter 'type' is set
        if ('type' not in params or
                params['type'] is None):
            raise ValueError("Missing the required parameter `type` when calling `delete_process_instance_identity_links`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501
        if 'identity_id' in params:
            path_params['identityId'] = params['identity_id']  # noqa: E501
        if 'type' in params:
            path_params['type'] = params['type']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/identitylinks/users/{identityId}/{type}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_process_instance_identity_links(self, process_instance_id, identity_id, type, **kwargs):  # noqa: E501
        """Get a specific involved people from process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_process_instance_identity_links(process_instance_id, identity_id, type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str identity_id: (required)
        :param str type: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :return: RestIdentityLink
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_process_instance_identity_links_with_http_info(process_instance_id, identity_id, type, **kwargs)  # noqa: E501
        else:
            (data) = self.get_process_instance_identity_links_with_http_info(process_instance_id, identity_id, type, **kwargs)  # noqa: E501
            return data

    def get_process_instance_identity_links_with_http_info(self, process_instance_id, identity_id, type, **kwargs):  # noqa: E501
        """Get a specific involved people from process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_process_instance_identity_links_with_http_info(process_instance_id, identity_id, type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str identity_id: (required)
        :param str type: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :return: RestIdentityLink
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'identity_id', 'type', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_process_instance_identity_links" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `get_process_instance_identity_links`")  # noqa: E501
        # verify the required parameter 'identity_id' is set
        if ('identity_id' not in params or
                params['identity_id'] is None):
            raise ValueError("Missing the required parameter `identity_id` when calling `get_process_instance_identity_links`")  # noqa: E501
        # verify the required parameter 'type' is set
        if ('type' not in params or
                params['type'] is None):
            raise ValueError("Missing the required parameter `type` when calling `get_process_instance_identity_links`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501
        if 'identity_id' in params:
            path_params['identityId'] = params['identity_id']  # noqa: E501
        if 'type' in params:
            path_params['type'] = params['type']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/identitylinks/users/{identityId}/{type}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RestIdentityLink',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_process_instance_identity_links(self, process_instance_id, **kwargs):  # noqa: E501
        """Get involved people for process instance  # noqa: E501

        Note that the groupId in Response Body will always be null, as it’s only possible to involve users with a process-instance.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_process_instance_identity_links(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[RestIdentityLink]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_process_instance_identity_links_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_process_instance_identity_links_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def list_process_instance_identity_links_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """Get involved people for process instance  # noqa: E501

        Note that the groupId in Response Body will always be null, as it’s only possible to involve users with a process-instance.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_process_instance_identity_links_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[RestIdentityLink]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_process_instance_identity_links" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `list_process_instance_identity_links`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/identitylinks', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[RestIdentityLink]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
