# coding: utf-8

"""
    Flowable REST API

    # flowable / flowəb(ə)l /    - a compact and highly efficient workflow and Business Process Management (BPM) platform for developers, system admins and business users.  - a lightning fast, tried and tested BPMN 2 process engine written in Java. It is Apache 2.0 licensed open source, with a committed community.  - can run embedded in a Java application, or as a service on a server, a cluster, and in the cloud. It integrates perfectly with Spring. With a rich Java and REST API, it is the ideal engine for orchestrating human or system activities.  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from process_engine.api_client import ApiClient


class ProcessInstanceVariablesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_or_update_process_variable(self, process_instance_id, **kwargs):  # noqa: E501
        """Update a multiple/single (non)binary variable on a process instance  # noqa: E501

        This endpoint can be used in 2 ways: By passing a JSON Body (RestVariable or an array of RestVariable) or by passing a multipart/form-data Object. Nonexistent variables are created on the process-instance and existing ones are overridden without any error. Any number of variables can be passed into the request body array. Note that scope is ignored, only local variables can be set in a process instance. NB: Swagger V2 specification does not support this use case that is why this endpoint might be buggy/incomplete if used with other tools.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_or_update_process_variable(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param ProcessInstanceVariableCollectionResource body: Create a variable on a process instance
        :param file file:
        :param str name:
        :param str type:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_or_update_process_variable_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_or_update_process_variable_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def create_or_update_process_variable_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """Update a multiple/single (non)binary variable on a process instance  # noqa: E501

        This endpoint can be used in 2 ways: By passing a JSON Body (RestVariable or an array of RestVariable) or by passing a multipart/form-data Object. Nonexistent variables are created on the process-instance and existing ones are overridden without any error. Any number of variables can be passed into the request body array. Note that scope is ignored, only local variables can be set in a process instance. NB: Swagger V2 specification does not support this use case that is why this endpoint might be buggy/incomplete if used with other tools.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_or_update_process_variable_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param ProcessInstanceVariableCollectionResource body: Create a variable on a process instance
        :param file file:
        :param str name:
        :param str type:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'body', 'file', 'name', 'type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_or_update_process_variable" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `create_or_update_process_variable`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'file' in params:
            local_var_files['file'] = params['file']  # noqa: E501
        if 'name' in params:
            form_params.append(('name', params['name']))  # noqa: E501
        if 'type' in params:
            form_params.append(('type', params['type']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/variables', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_process_instance_variable(self, process_instance_id, **kwargs):  # noqa: E501
        """Create variables or new binary variable on a process instance  # noqa: E501

        This endpoint can be used in 2 ways: By passing a JSON Body (RestVariable or an array of RestVariable) or by passing a multipart/form-data Object. Nonexistent variables are created on the process-instance and existing ones are overridden without any error. Any number of variables can be passed into the request body array. Note that scope is ignored, only local variables can be set in a process instance. NB: Swagger V2 specification does not support this use case that is why this endpoint might be buggy/incomplete if used with other tools.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_process_instance_variable(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param ProcessInstanceVariableCollectionResource body: Create a variable on a process instance
        :param file file:
        :param str name:
        :param str type:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_process_instance_variable_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_process_instance_variable_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def create_process_instance_variable_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """Create variables or new binary variable on a process instance  # noqa: E501

        This endpoint can be used in 2 ways: By passing a JSON Body (RestVariable or an array of RestVariable) or by passing a multipart/form-data Object. Nonexistent variables are created on the process-instance and existing ones are overridden without any error. Any number of variables can be passed into the request body array. Note that scope is ignored, only local variables can be set in a process instance. NB: Swagger V2 specification does not support this use case that is why this endpoint might be buggy/incomplete if used with other tools.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_process_instance_variable_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param ProcessInstanceVariableCollectionResource body: Create a variable on a process instance
        :param file file:
        :param str name:
        :param str type:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'body', 'file', 'name', 'type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_process_instance_variable" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `create_process_instance_variable`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'file' in params:
            local_var_files['file'] = params['file']  # noqa: E501
        if 'name' in params:
            form_params.append(('name', params['name']))  # noqa: E501
        if 'type' in params:
            form_params.append(('type', params['type']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/variables', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_local_process_variable(self, process_instance_id, **kwargs):  # noqa: E501
        """Delete all variables  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_local_process_variable(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_local_process_variable_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_local_process_variable_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def delete_local_process_variable_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """Delete all variables  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_local_process_variable_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_local_process_variable" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `delete_local_process_variable`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/variables', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_process_instance_variable(self, process_instance_id, variable_name, **kwargs):  # noqa: E501
        """Delete a variable  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_process_instance_variable(process_instance_id, variable_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str variable_name: (required)
        :param str scope:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_process_instance_variable_with_http_info(process_instance_id, variable_name, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_process_instance_variable_with_http_info(process_instance_id, variable_name, **kwargs)  # noqa: E501
            return data

    def delete_process_instance_variable_with_http_info(self, process_instance_id, variable_name, **kwargs):  # noqa: E501
        """Delete a variable  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_process_instance_variable_with_http_info(process_instance_id, variable_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str variable_name: (required)
        :param str scope:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'variable_name', 'scope']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_process_instance_variable" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `delete_process_instance_variable`")  # noqa: E501
        # verify the required parameter 'variable_name' is set
        if ('variable_name' not in params or
                params['variable_name'] is None):
            raise ValueError("Missing the required parameter `variable_name` when calling `delete_process_instance_variable`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501
        if 'variable_name' in params:
            path_params['variableName'] = params['variable_name']  # noqa: E501

        query_params = []
        if 'scope' in params:
            query_params.append(('scope', params['scope']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/variables/{variableName}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_process_instance_variable(self, process_instance_id, variable_name, **kwargs):  # noqa: E501
        """Get a variable for a process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_process_instance_variable(process_instance_id, variable_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str variable_name: (required)
        :param str scope:
        :param str tenant_id: Only return instances with the given tenantId.
        :return: RestVariable
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_process_instance_variable_with_http_info(process_instance_id, variable_name, **kwargs)  # noqa: E501
        else:
            (data) = self.get_process_instance_variable_with_http_info(process_instance_id, variable_name, **kwargs)  # noqa: E501
            return data

    def get_process_instance_variable_with_http_info(self, process_instance_id, variable_name, **kwargs):  # noqa: E501
        """Get a variable for a process instance  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_process_instance_variable_with_http_info(process_instance_id, variable_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str variable_name: (required)
        :param str scope:
        :param str tenant_id: Only return instances with the given tenantId.
        :return: RestVariable
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'variable_name', 'scope', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_process_instance_variable" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `get_process_instance_variable`")  # noqa: E501
        # verify the required parameter 'variable_name' is set
        if ('variable_name' not in params or
                params['variable_name'] is None):
            raise ValueError("Missing the required parameter `variable_name` when calling `get_process_instance_variable`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501
        if 'variable_name' in params:
            path_params['variableName'] = params['variable_name']  # noqa: E501

        query_params = []
        if 'scope' in params:
            query_params.append(('scope', params['scope']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/variables/{variableName}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RestVariable',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_process_instance_variable_data(self, process_instance_id, variable_name, **kwargs):  # noqa: E501
        """Get the binary data for a variable  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_process_instance_variable_data(process_instance_id, variable_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str variable_name: (required)
        :param str scope:
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_process_instance_variable_data_with_http_info(process_instance_id, variable_name, **kwargs)  # noqa: E501
        else:
            (data) = self.get_process_instance_variable_data_with_http_info(process_instance_id, variable_name, **kwargs)  # noqa: E501
            return data

    def get_process_instance_variable_data_with_http_info(self, process_instance_id, variable_name, **kwargs):  # noqa: E501
        """Get the binary data for a variable  # noqa: E501

          # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_process_instance_variable_data_with_http_info(process_instance_id, variable_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str variable_name: (required)
        :param str scope:
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'variable_name', 'scope', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_process_instance_variable_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `get_process_instance_variable_data`")  # noqa: E501
        # verify the required parameter 'variable_name' is set
        if ('variable_name' not in params or
                params['variable_name'] is None):
            raise ValueError("Missing the required parameter `variable_name` when calling `get_process_instance_variable_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501
        if 'variable_name' in params:
            path_params['variableName'] = params['variable_name']  # noqa: E501

        query_params = []
        if 'scope' in params:
            query_params.append(('scope', params['scope']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/variables/{variableName}/data', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_process_instance_variables(self, process_instance_id, **kwargs):  # noqa: E501
        """List variables for a process instance  # noqa: E501

        In case the variable is a binary variable or serializable, the valueUrl points to an URL to fetch the raw value. If it’s a plain variable, the value is present in the response. Note that only local scoped variables are returned, as there is no global scope for process-instance variables.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_process_instance_variables(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str scope:
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[RestVariable]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_process_instance_variables_with_http_info(process_instance_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_process_instance_variables_with_http_info(process_instance_id, **kwargs)  # noqa: E501
            return data

    def list_process_instance_variables_with_http_info(self, process_instance_id, **kwargs):  # noqa: E501
        """List variables for a process instance  # noqa: E501

        In case the variable is a binary variable or serializable, the valueUrl points to an URL to fetch the raw value. If it’s a plain variable, the value is present in the response. Note that only local scoped variables are returned, as there is no global scope for process-instance variables.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_process_instance_variables_with_http_info(process_instance_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str scope:
        :param str tenant_id: Only return instances with the given tenantId.
        :param int start: Index of the first row to fetch. Defaults to 0.
        :param int size: Number of rows to fetch, starting from start. Defaults to 10.
        :param str order: order
        :param str sort: Property to sort on, to be used together with the order.
        :return: list[RestVariable]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'scope', 'tenant_id', 'start', 'size', 'order', 'sort']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_process_instance_variables" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `list_process_instance_variables`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501

        query_params = []
        if 'scope' in params:
            query_params.append(('scope', params['scope']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenantId', params['tenant_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/variables', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[RestVariable]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_process_instance_variable(self, process_instance_id, variable_name, **kwargs):  # noqa: E501
        """Update a single variable on a process instance  # noqa: E501

        This endpoint can be used in 2 ways: By passing a JSON Body (RestVariable) or by passing a multipart/form-data Object. Nonexistent variables are created on the process-instance and existing ones are overridden without any error. Note that scope is ignored, only local variables can be set in a process instance. NB: Swagger V2 specification does not support this use case that is why this endpoint might be buggy/incomplete if used with other tools.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_process_instance_variable(process_instance_id, variable_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str variable_name: (required)
        :param ProcessInstanceVariableResource body: Create a variable on a process instance
        :param file file:
        :param str name:
        :param str type:
        :return: RestVariable
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_process_instance_variable_with_http_info(process_instance_id, variable_name, **kwargs)  # noqa: E501
        else:
            (data) = self.update_process_instance_variable_with_http_info(process_instance_id, variable_name, **kwargs)  # noqa: E501
            return data

    def update_process_instance_variable_with_http_info(self, process_instance_id, variable_name, **kwargs):  # noqa: E501
        """Update a single variable on a process instance  # noqa: E501

        This endpoint can be used in 2 ways: By passing a JSON Body (RestVariable) or by passing a multipart/form-data Object. Nonexistent variables are created on the process-instance and existing ones are overridden without any error. Note that scope is ignored, only local variables can be set in a process instance. NB: Swagger V2 specification does not support this use case that is why this endpoint might be buggy/incomplete if used with other tools.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_process_instance_variable_with_http_info(process_instance_id, variable_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str process_instance_id: (required)
        :param str variable_name: (required)
        :param ProcessInstanceVariableResource body: Create a variable on a process instance
        :param file file:
        :param str name:
        :param str type:
        :return: RestVariable
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['process_instance_id', 'variable_name', 'body', 'file', 'name', 'type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_process_instance_variable" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'process_instance_id' is set
        if ('process_instance_id' not in params or
                params['process_instance_id'] is None):
            raise ValueError("Missing the required parameter `process_instance_id` when calling `update_process_instance_variable`")  # noqa: E501
        # verify the required parameter 'variable_name' is set
        if ('variable_name' not in params or
                params['variable_name'] is None):
            raise ValueError("Missing the required parameter `variable_name` when calling `update_process_instance_variable`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'process_instance_id' in params:
            path_params['processInstanceId'] = params['process_instance_id']  # noqa: E501
        if 'variable_name' in params:
            path_params['variableName'] = params['variable_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'file' in params:
            local_var_files['file'] = params['file']  # noqa: E501
        if 'name' in params:
            form_params.append(('name', params['name']))  # noqa: E501
        if 'type' in params:
            form_params.append(('type', params['type']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/runtime/process-instances/{processInstanceId}/variables/{variableName}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RestVariable',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
