.timer-main-container {
  margin: 32px auto 0;
  background-color: lightgray;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
}

.timer-text {
  margin: 16px auto 0;
  text-align: center;
}

.timer-container .timer {
  font-size: 24px;
  position: absolute;
  top: 59px;
  left: 40px;
}

.timer span {
  padding-right: 4px;
}

.display-none {
  display: none;
}

.pt-0 {
  padding-top: 0px !important;
}

.smtp-port-input {
  margin-bottom: 8px !important;
}

.timer-container-loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid var(--main-first-button-color);
  width: 150px;
  height: 150px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.radio-container {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}

.modal-radio-cont {
  display: flex;
  flex-direction: column;
}

.radio-container .radio {
  margin-top: 0;
}

.radio-container input[type="radio"] + label {
  cursor: pointer;
}

.radio-container .radio-label {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 4px;
  font-size: 14px;
}

.default-settings-main-cont {
  display: flex;
  margin-top: 4px;
  justify-content: space-between;
}
