@import '../../../theme.scss';
.ContainerPadding64{
    padding-top: 2rem;
}

.PaddingRight16px{
    padding-right: 16px;
}

.CardLayout{
    background-color: $white100;
    border-radius: 4px;
    margin-bottom: 3rem;
    border: none;
}

.CardPadding{
    padding: 32px 40px;
}
.FormPaddingLeft{
    padding: 0 3rem;
}

.EditButton{
    background-color: $black50;
    border-radius: 20px;
    padding: 10px;
    padding-right: 15px;
    cursor: pointer;
    @include body_r_r;
    width:12%;
    text-align: right;
    color: $white100;
    &:hover{
        text-decoration: none;
        color: $white100;
    }
}

.MarginLeft{
    margin-left: 16px !important;
}

.ShowSuccessNotificationCard{
    display: block;
    min-height: 1.5rem;
    background-color: $infoSuccess10;
}

.HideSuccessNotificationCard{
    display: none;
}

.SuccessNotificationCard{
	@include caption_m_m;
}

.ShowErrorNotificationCard{
    display: block;
    min-height: 1.5rem;
    background-color: $infoFailed05;
}
.HideErrorNotificationCard{
    display: none;
}
.searchBar{
    margin-right: -50px;
    margin-left: 10px;
    border:none;
    outline: none;
    @include body_r_r;
    background: none;
    display: inline;  
}
.HorizontalLine{
    border:0.07rem solid $primaryBlue10;
    margin-bottom: 0px;
}

.tagHead{
	@include caption_m_m;
    color: $primaryBlue100;
}
.tagHead :hover{
    outline: $primaryBlue100;
}
.SectionAli{
    //width: 70em;
   margin-left: 2rem;
    overflow-y: visible;
    overflow-x: visible;
    height: 10rem;
    //background-color: salmon;
    display: inline-flex;
    //width: 52rem;
    
    
}
.buttonStyle{
    background: $primaryBlue100;
    //outline: none;
    border-radius: 20px;
    border-color: $primaryBlue100;
    color: $white100;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;

    
    &:onFocus{
        outline: none;
    }
}
.AddButtonStyle{
    border:0;
    background: 0;
    color:$primaryBlue100 ;
	@include caption_m_m;
    &:onFocus{
        outline: none;
    }
}
.AddFuncText{
    margin: 12rem 0;
    color: rgb(58, 71, 90);
}
.SecCol{
    display: inline;
}

.scroll{
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
    //background-color: darkmagenta;

}