.file-upload-modal .file-drag-drop-container {
  border: 2px solid;
  border-color: var(--main-button-gradient-color);
  width: 100%;
  height: 100px;
  margin: 1em 0;
  background-color: #ecf0f1;
}

.file-upload-modal .droppable-container {
  height: 100%;
}

.file-upload-modal .file-drag-drop-container div:focus,
.file-upload-modal .droppable-container:focus {
  outline: none;
}

.file-upload-modal .file-drag-drop-dashed {
  border: 2px dashed;
}

.file-upload-modal .file-drag-drop-container p {
  text-align: center;
  padding: 38px 0;
}

.file-upload-modal .file-name-card {
  margin: 8px 4px;
  display: flex;
}

.file-upload-modal .file-name-card p {
  border-radius: 4px;
  margin: 4px;
  border: none;
  background-color: #9b9b9b;
}

.file-upload-modal .file-name-card button {
  background-color: #9b9b9b;
  border: none;
  align-self: center;
  padding: 6px;
}

.file-upload-modal .file-name-card button:focus,
.file-upload-modal .file-name-card button:hover {
  color: red;
  outline: none !important;
}

.file-upload-modal .file-name:focus {
  background: #fff;
  border: none;
  box-shadow: inset 0 0 0 2px #0079bf;
}

.file-upload-modal .overflow {
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
  text-overflow: ellipsis;
  display: block;
}

.file-upload-modal .file-name-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 130px;
  overflow: auto;
  scrollbar-width: thin;
}

.file-upload-modal .file-name-container::-webkit-scrollbar {
  display: block !important;
}

.file-upload-modal .uploaded-file-size {
  align-self: center;
  padding-left: 4px;
  text-align: center;
  font-size: 12px;
}

.file-upload-modal .file-name-card-btn {
  display: flex;
  background-color: #9b9b9b;
  border-radius: 4px;
}

.file-upload-modal .file-name {
  font-size: 12px;
}
