.inventory_datetime .rdtPicker {
  position: relative;
  border: 1px solid #d8d7d7;
}

.inventory_datetime .datetime-text {
  position: absolute;
  left: 24px;
  z-index: 1;
  opacity: 0.95;
  top: -15px;
  background-color: white;
  padding: 4px;
}

.inventory_datetime .form-control {
  min-height: 45px;
  border-width: 1px;
  border-color: rgb(155, 155, 155);
  box-shadow: none;
}

.inventory_datetime .form-control:focus {
  border-color: unset;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgb(155, 155, 155);
}
