EMP_MGMT_INTERNAL_URL='http://employee-mgmt-service-dev.engineering.internal'
BASE_ORG_DOMAIN_URL=codzelocal.com
FILE_DOMAIN_URL=
BASE_ORG_NAME=ezedox
BASE_ORG_SCHEMA_NAME=public
DJANGO_ADMIN_DOMAIN_URL=codzelocal.com
CANDIDATE_DOMAIN_URL=codzelocal.com
BACKEND_DOMAIN_URL=codzelocal.com

CELERY_BROKER_URL='rediss://:password@host:port/1'
CHANNEL_LAYER_URL='rediss://:password@host:port/0'
REDIS_CACHE_URL='rediss://:mypassword@host:port/2'
DEFENDER_REDIS_URL='rediss://:mypassword@host:port/2'
ONGRID_PROXY_URL='https://5cda04a59e17.ngrok.io'
ELASTIC_SEARCH_URL=127.0.0.1:9200

PROD=True
REPORT_BATCH_SIZE=10
FAKE_SMS=True
TAGGIT_CASE_INSENSITIVE=True
SWAGGER_VIEW=True
INTERNAL_IP=115.99.39.7,115.99.39.8
DEBUG=True
EZEDOX_INTERNAL_EMAIL=vivek.lohia@ezedox.com
TEMP_DIR='logs/'
DEFAULT_SCHEME=https

SENDER_EMAIL_ID=no-reply@betterplace.co.in
COMMUNICATION_SERVICE_TOPIC=dev-communication-send
MSG91_URL=/api/v2/sendsms?country
MSG91_BASE_URL=api.msg91.com
MSG91_BASE_URL_V1=/api/sendhttp.php?
MSG91_OTP_TEMPLATE_ID=6012c07fbedfba218a5d5c14
MSG91_SEND_OTP_URL_V5=/api/v5/otp?
SMS_SENDER=EZEDOX
SMS_PROVIDER=MSG91

GOOGLE_CHAT_URL=https://chat.googleapis.com/v1/spaces/AAAA4tKDIhw/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=D_QNuNkMfo7OxPW_4ETgJBic-CugbMkxeFsVkSMujz8%3D
CHAT_SOFTWARE=GOOGLE

PROCESS_IDM_URL=https://codzedev.com/idm/
PROCESS_MODELER_URL=https://codzedev.com/designer/
PROCESS_ENGINE_URL=https://codzedev.com/rest/
PROCESS_ENGINE_REPLICA_URL=https://codzedev.com/rest/

FRS_AUTH_URL=
FRS_KEY_ID=
FRS_BASE_URI=https://ezedox.atlaskyc.com/preprod
FRS_OCR=/ocr/v1.3/fetch/id_data_v1
FRS_MASK=/aadhaar/v1.3/mask_aadhaar
FRS_BANK_VERIFY=/bank/v1.3/verify_bank
FRS_BANK_STATUS=/bank/v1.3/verify_status

DL_GRANT_TYPE=authorization_code
DL_CLIENT_ID=4B94D568
DL_REDIRECT_URL=https://codzedev.com/org/dl
DL_ACCESS_TOKEN_URL=https://api.digitallocker.gov.in/public/oauth2/1/token
DL_ISSUED_DOC_URL=https://api.digitallocker.gov.in/public/oauth2/2/files/issued
DL_XML_DATA_URL=https://api.digitallocker.gov.in/public/oauth2/1/xml
DL_FILE_URL=https://api.digitallocker.gov.in/public/oauth2/1/file
DL_PULL_DOC_URL=https://api.digitallocker.gov.in/public/oauth2/1/pull/pulldocument
DL_PAN_ORGID=001891
DL_DRIVING_LICENSE_ORGID=000048

REACT_APP_API_URL=

FILE_BUCKET = 'S3'

ZOOP_URL=https://live.zoop.one/api/v1/in/utility/ocr/lite
ZOOP_URL_APP_ID=
ZOOP_URL_APP_KEY=

SSL_VERIFICATION=True
KALEYRA_OTP_TEMPLATE_ID=LOGIN_OTP