AWS_ACCESS_KEY_ID=
AWS_DEFAULT_ACL=private
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENCRYPTION=True
AWS_S3_REGION_NAME=ap-south-1
AWS_STORAGE_BUCKET_NAME=
AWS_HIRE_STORAGE_BUCKET_NAME=
AWS_SES_REGION_NAME=eu-west-1
AWS_SES_REGION_ENDPOINT=email.eu-west-1.amazonaws.com

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=postgres

EMP_MGMT_INTERNAL_URL_TOKEN=
CUST_MGMT_ONBOARD_TOKEN=
DJANGO_SECRET_KEY=
ENCRYPTION_KEY=
SALT_FOR_PASSWORD=
EZEDOX_ADMIN_PASSWORD=
EZEDOX_ADMIN_USERNAME=
PROCESS_ENGINE_PASSWORD=
PROCESS_ENGINE_USER=

KAFKA_BROKERS=

EMAIL_HOST=smtp.zoho.com
EMAIL_PASSWORD=
EMAIL_PORT=587
EMAIL_USER=

SLACK_API_TOKEN=
MSG91_AUTH_KEY=
FRS_KEY_SECRET=
CLIENT_SECRET=