
**/**/__pycache__/*
**/__pycache__/*
*.egg
*.egg-info/
*.localhost.com
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
*.sqlite3
.DS_Store
.Python
.cache
.coverage
.env
.env.secrets
.env.consumers
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea/
.installed.cfg
.metadata
.pnp.js
.project
.pydevproject
.settings
.tox/
.vscode
/.pnp
/build
/coverage
/node_modules
/src/config
Python-3.5.3/
__pycache__/
# bc_static/
bin
!redis-proxy/bin
build/
celerybeat-schedule*
coverage.xml
develop-eggs/
dist/
docker/data/postgres/
docker/data/redis/
docs/_build/
downloads/
eggs/
env/
htmlcov/
include
lib/
lib64/
local/
main-*.js*
media/
node_modules/
nosetests.xml
npm-debug.log*
parts/
pip-delete-this-directory.txt
pip-log.txt
qr_files/
requirements/eze.txt
sdist/
set-env.sh
share/
target/
test_employees.xlsx
var/
venv
webpack-stats.json
yarn-error.log*
.idea/
static1/
# bc_static/
locale/
tests/reports/*
.history
tests_collection/node_modules/
tests_collection/newman/
tests_collection/package-lock.json
tests_collection/local_env.json
tests_collection/local_data.json
celerybeat.pid
cache/
worker_script/hiring_status/*.log
consumers/logs/*.log
